@charset "utf-8";
/* CSS Document */

/* 常用的风格设置，主要在布局上 以fn开头；功能细化*/

/*清除浮动*/

.clearfix:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:'.';
	clear:both;
	height:0;	
}
.clearfix{
	*zoom:1 /*IE6 IE7*/	
}

.fn-fl{float:left;}

.fn-fr{float:right;}

.fn-ib{display:inline-block;*display:inline;*zoom:1}/* 行内块 */

.fn-dn{display:none} /*设置元素隐藏*/

.fn-db{display:block} /*设置块；显示元素*/

.fn-pr{position:relative} /*设置相对定位*/

.fn-oh{overflow:hidden}/*超出隐藏*/

.fn-fwn{font-weight:normal}/*字体正常显示*/

.fn-fwb{font-weight:bold} /*字体加粗*/

.fn-tal{text-align:left}/*左对齐*/

.fn-tac{text-align:center} /*居中对齐*/

.fn-tar{text-align:right}/*右对齐*/



