
/* ”“≤‡—˘ Ω */
.share-right {height:auto; position: fixed; z-index: 9; top: 150px; right: 0; overflow: hidden;right:-241px;width:267px;}
	.share-image {float:left;width:26px;padding-top:70px;}
	.share-div {width:240px;overflow:hidden;border:1px solid #CCCCCC;overflow:hidden;background:#FFFFFF;}
		.share-div .share-head{line-height:25px;font-size:15px;text-align:left;background:#F2F2F2;padding:2px 0 0 5px;border-bottom:1px solid #E5E5E5;}
		.share-div .share-body{padding:0 2px;}
			.share-div .share-body a{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #FFFFFF;color:#000000;display:block;float:left;font-size:12px !important;height:20px;margin:1px 0;padding-left:5px;padding-top:5px;text-decoration:none;width:107px;}
			.share-div .share-body a:hover{background:#F2F2F2;border:1px solid #E5E5E5;text-decoration:none;}
			.share-div .share-body a span {background:url(images/share_ico.png) no-repeat scroll left center transparent;cursor:pointer;display:block !important;height:16px !important;line-height:16px !important;overflow:hidden;padding-left:20px !important;text-align:left;}
				.share-div .share-body a span.icon_copy{background-position:0 0;}
				.share-div .share-body a span.icon_fav{background-position:0 -16px;}
				.share-div .share-body a span.icon_tsina{background-position:0 -96px;}
				.share-div .share-body a span.icon_qzone{background-position:0 -64px;}
				.share-div .share-body a span.icon_email{background-position:0 -32px;}
				.share-div .share-body a span.icon_msn{background-position:0 -1424px;}
				.share-div .share-body a span.icon_renren{background-position:0 -160px;}
				.share-div .share-body a span.icon_kaixin001{background-position:0 -176px;}
				.share-div .share-body a span.icon_baidu{background-position:0 -80px;}
				.share-div .share-body a span.icon_buzz{background-position:0 -48px;}
				.share-div .share-body a span.icon_sohu{background-position:0 -192px;}
				.share-div .share-body a span.icon_taobao{background-position:0 -496px;}
				.share-div .share-body a span.icon_139{background-position:0 -208px;}
				.share-div .share-body a span.icon_tsohu{background-position:0 -112px;}
				.share-div .share-body a span.icon_douban{background-position:0 -560px;}
		.share-div .share-foot{height:25px;line-height:25px;font-size:12px;text-align:left;background:#F2F2F2;padding:2px 0 0 5px;border-top:1px solid #E5E5E5;}
		
		
		