/*
 @name 黄色系列
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-yellow-f {
	overflow: hidden;
	background:url("images/yellow-f.jpg");
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	padding-left:12px;
}
.title-yellow-f,
.title-yellow-f span{color:#990000;}