<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset={$CONFIG[charset]}" />
<meta http-equiv="Content-Language" content="zh-CN" />
<title>{$title}_{$SYSTEM[sitename]}</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="expires" content="0" />
<meta name="keywords" content="{$tags}" />
<meta name="description" content="{$description}" />
<meta name="author" content="{$SYSTEM[sitename]}" />
<meta name="Copyright" content="{$SYSTEM[sitename]}版权所有" />
	<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<!--[if IE 6]> 
		<link href="{IMG_URL}templates/{TEMPLATE}/css/ie6.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<![endif]-->
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.cookie.js"></script>
<script type="text/javascript" src="{IMG_URL}js/cmstop.js"></script>
<script type="text/javascript" src="{IMG_URL}apps/interview/js/interview.js"></script>
<script type="text/javascript" src="{IMG_URL}js/player/swfobject.js"></script>
<script type="text/javascript">
var contentid = {$contentid};
</script>
	</head>
	
	<body class="cmstop-inter">
		<div class="topMenu">
			<div class="topBar">
			<a class="f-l sur-logo" href="{WWW_URL}"><img alt="" src="{IMG_URL}templates/{TEMPLATE}/css/images/sur-logo.png"></a>
			<ul>
			<li><a href="{WWW_URL}">首页</a></li>
			<li><a href="http://news.cmstop.loc/">新闻</a></li>
			<li><a href="http://photo.cmstop.loc/">图片</a></li>
			<li><a href="http://video.cmstop.loc/">视频</a></li>
			<li><a href="http://talk.cmstop.loc/">访谈</a></li>
			<li><a href="http://special.cmstop.loc/">专题</a></li>
			<li><a href="http://space.cmstop.loc/">专栏</a></li>
			<li><a href="{WWW_URL}paper/">报纸</a></li>
			<li><a href="{WWW_URL}magazine/">杂志</a></li>
			<li><a href="{APP_URL}roll.php">滚动</a></li>
			<li><a href="{APP_URL}rank.php">排行</a></li>
			<li><a href="{APP_URL}tags.php">标签</a></li>
			<li><a href="{APP_URL}digg.php">Digg</a></li>
			<li><a href="{APP_URL}mood.php">心情</a></li>
			<li><a href="{APP_URL}?app=space&controller=panel&action=contribute" target="_self">投稿</a></li>
			<li><a href="{APP_URL}?app=rss" target="_self">RSS</a></li>

			</ul>
			</div>
		</div>
		
		<div class="titleBar ft-tbar">
			<h1><a href="http://talk.cmstop.loc/" title="欢迎访问访谈直播间">访谈直播间</a></h1>
			<!--#include virtual="/section/64.html"-->
		</div>
		
		<div class="column">
			<div class="titleCol1">
				<span class="suite">第{$number}期</span>
				<h2>{$title}<span class="time">{date('Y年n月j日 H点i分', $starttime)}</span></h2>
				<blockquote><cite class="bold">主持人：</cite>{$compere}</blockquote>
			</div>
			<div class="interview_section">
				<div class="sectionLeft">
					<div class="sectionflash">
	    <!--{if $mode=='video'}-->
			<!--{if false !== strpos($video, 'rtmp://')}-->
			<div id='mediaspace'>视频播放即将开始</div>
			   <script type='text/javascript'> 
					var so = new SWFObject('{IMG_URL}js/player/StrobeMediaPlayback.swf','mpl','456px','330px','9');
					so.addParam('allowFullScreen','true');
					so.addParam('allowscriptaccess','always');
					so.addParam('wmode','opaque');
					so.addVariable('src','{$video}');
					so.addVariable('controlBarMode','docked');	
					so.addVariable('controlBarAutoHide','true');
					so.addVariable('autoPlay','true');
					so.write('mediaspace');
				</script>

			<!--{elseif strpos($video, '.flv')}-->
		    <!--{template 'video/player/'.$player.'.html'}-->
			<!--{else}-->
		    <object id="ssss" width="456" height="330"><param name="allowScriptAccess" value="always" /><embed pluginspage="http://www.macromedia.com/go/getflashplayer" src="{$video}" type="application/x-shockwave-flash" name="ssss" allowFullScreen="true" allowScriptAccess="always" width="456" height="330"></embed></object>
		    <!--{/if}-->
      <!--{else}-->
	   <img src="{thumb($photo, 456, 327)}" style="border:1px solid #ccc;padding:1px;" title="{$title}" />
      <!--{/if}-->      
					</div>
					
				</div>
				<div class="sectionRight">
					<p class="hotViewpoint">
						{str_cut($description,160)}
					</p>
					<div class="wonderful">
						<p class="mode-bg-dott"><span class="span-bg-blue2">嘉宾介绍</span></p>
					
	    <ul class="guestList" id="guestList">
		<!--{loop $guest $r}-->
          
        <!--{if $r[url]}-->
        <li><a href="{$r[url]}" target="_blank"><img src="{thumb($r[photo], 64, 84)}" height="64" width="64" alt="{$r[name]}"/></a>
          <h3 class="n"><a href="{$r[url]}" target="_blank">{$r[name]}</a></h3>
          <p>{str_cut($r[resume],64)}</p>
        </li>
        <!--{else}-->
        <li><img src="{thumb($r[photo], 64, 64)}" height="64" width="64" alt="{$r[name]}"/>
          <h3>{$r[name]}</h3>
          <p>{$r[resume]}</p>
        </li>
        <!--{/if}-->
        
       <!--{/loop}-->
	   </ul>
        <p class="mode-bg-dott"><span class="span-bg-blue2">相关阅读</span></p>
        <ul class="mode-txtlink mut">
        <!--{db sql="SELECT * FROM `#table_related` WHERE `contentid`=$contentid" size="8"}-->
         <li><a href="{$r[url]}" target="_blank">{str_cut($r[title],30)}</a></li>
        <!--{/db}-->
        </ul>
            
        </div>
    </div>
				
				<div class="hr-h10"></div>
				<div class="ft-zj">
					<div class="f-l ft-gd">
					
						<div class="wonderful">
						<p class="mode-bg-dott"><span class="span-bg-blue2">精彩观点</span></p>
						<!--{if $review}-->
						<ul class="viewpoint">
							<li>{$review}</li>
						</ul>
						<!--{/if}-->
					</div>
				  
					</div>
					<div class="f-r ft-img">
						<!--{if $picture}-->
						<p class="mode-bg-dott"><a class="f-r bold" style="color: #59B6E8;" href="{table('content',$picture,'url')}">更多</a><span class="span-bg-blue2">访谈图片</span></p>
						<div class="ivpicshow">
						<ul class="interviewPic">
						    <!--{db sql="SELECT * FROM `#table_picture_group` WHERE `contentid`=$picture" return="pic"}-->
							<li><a href="{$pic[url]}" target="_blank"><img src="{thumb($pic[image], 139, 94)}" alt="{$pic[note]}" /></a>
							</li>
							 <!--{/db}-->
						</ul>
						</div>
						<!--{else}-->
							<p class="mode-bg-dott"><a class="f-r bold" style="color: #59B6E8;" href="javascript:void(0);">更多</a><span class="span-bg-blue2">访谈图片</span></p>
							<div class="c_red b" style="text-align:center;">暂无访谈图片.</div>
						<!--{/if}-->
					</div>
				</div>
			</div>
			
			<div class="interactionInfo">
				<div class="wordLive">
					<div class="interactionHead">
						<h2 class="bold">文字实录</h2>
<ul id="guest" style="display: none">
<!--{db sql="select * from #table_interview_guest where contentid=$contentid order by guestid" return="guest"}-->
	  <li id="guest_{$guest[guestid]}" name="{$guest[name]}" color="{$guest[color]}"></li>
<!--{/db}-->
</ul>
					 <!--{if $notice}-->
		<p><marquee scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();" direction="left" style="cursor: pointer;">{$notice}</marquee></p>
       				 <!--{/if}-->
							<!--{if $state<2}-->
							<div class="pause"><input type="checkbox" name="pauseRoll" id="pauseRoll" onclick="this.checked == true ? chat.stop() : chat.scroll()" /><label for="pauseRoll">暂停滚屏</label></div>
							<!--{/if}-->
					</div>
					
					<!--{if $state==2}-->
					<dl>
					<!--{db sql="SELECT * FROM #table_interview_chat AS ic LEFT JOIN #table_interview_guest AS ig ON ic.guestid = ig.guestid WHERE ic.contentid=$contentid  ORDER BY ic.chatid" return="chat"}-->
						<!--{if $chat[guestid]==null}-->
						<dt><p><strong>主持人：</strong>{$chat[content]}</p>  </dt>
						<!--{else}-->
						<dd><p><strong><font color="{$chat[color]}">{$chat[name]}</font>：</strong>{$chat[content]}</p></dd>
						<!--{/if}-->
					<!--{/db}-->
					</dl>
					<!--{else}-->
					<dl id="chat_scroll">
						<dt style="text-align:center;margin:200px;"><img src="{IMG_URL}images/loading.gif" alt="正在加载 ..."/></dt>
					</dl>
					<!--{/if}-->
				</div>
				<div class="visitor">
					<div class="interactionHead">
						<h2 class="bold">网友互动</h2>
							<!--{if $state<2}-->
						<div class="pause"><input type="checkbox" name="pauseRoll" id="pauseRoll" onclick="this.checked == true ? question.stop() : question.scroll()" /><label for="pauseRoll">暂停滚屏</label></div>
							<!--{/if}-->
					</div>
					<!--{if $state==2}-->
					<ul>
						<!--{db sql="select * from #table_interview_question where contentid=$contentid and state>1 order by questionid" return="question"}-->
						<li><p><strong>{$question[nickname]}：</strong>{$question[content]}<em>{date('Y-m-d H:i',$chat[created])}</em></p></li>
						<!--{/db}-->
					</ul>
					<!--{else}-->
					<ul id="question"></ul>
					<ul class="inputWordBar" id="inputWordBar">
					
	   <p><textarea id="content" class="textarea" cols="25"></textarea></p>
	   <li id="login_form" class="lh_32 vt_m">
          <input type="text" name="username" id="question_username" value="用户名" size="12" class="bdr" style="width:80px;"/>
          <input type="password" name="password" id="question_password" size="12" class="bdr" style="width:60px;"/>
          <input type="button" name="login" value="登录" class="btn_tj" onclick="member.login();"/>
          <input type="button" name="guest" value="游客" class="btn" onclick="member.nickname('游客');"/>
      </li>
	  <li id="login_nickname" class="lh_32 vt_m" style="display: none">
          <input type="text" name="newnickname" id="newnickname" size="12" class="bdr" style="width:80px;"/>
          <input type="button" value="改名" class="btn_tj" onclick="member.nickname($('#newnickname').val());"/>
          <input type="button" value="返回" class="btn" onclick="member.init();"/>
      </li>
	  <li id="logined" style="display: none;border-bottom:0px;"><div class="f-r"><input type="hidden" id="nickname"/> <span id="nickname_show" class="c_red"></span>，<a href="javascript: member.nickname();" class="c_blue">改名</a> | <a href="javascript: member.logout();" class="c_blue">退出</a></div><input type="button" value="发送" class="btn_tj" onclick="question.add({$contentid})"/> <span class="c_green"><strong>Ctrl+Enter</strong></span></li>
	  <li id="login_error" style="display: none"><span id="errorbox">用户名或密码错误!</span>　　<a href="javascript: member.init();" class="c_blue">重新登录</a>　<a href="javascript: member.nickname('游客');" class="c_red">游客身份进入</a></li>
					</ul>
					<!--{/if}-->
				</div>
				
			</div>
		</div>
<!--{if $state<2}-->
<script type="text/javascript">
var guestListCur	= 0;
function guestListScroll() {
	var guestList	= $('#guestList > li');
	var size		= guestList.size();
	guestList.eq(guestListCur).hide();
	guestList.eq(guestListCur+1).hide();
	guestListCur += 2;
	if (guestListCur >= size) {
		guestListCur	= 0;
	}
	guestList.eq(guestListCur).show();
	guestList.eq(guestListCur+1).show();
}

$(document).keydown(function(event){
	if(event.ctrlKey && event.keyCode == 13) {
	    question.add({$contentid});
	}
});
$(document).ready(function(){
	chat.load();
	chat.scroll();
	question.load();
	question.scroll();
	member.init();
	var guestList	= $('#guestList > li');
	var size		= guestList.size();
	if(size > 2) {
		for (var i=2; i<size; i++) {
			guestList.eq(i).hide();
		}
		setInterval("guestListScroll();", 5000);
	}
});
</script>
<!--{/if}-->
<!--{template 'system/footer.html'}-->	
