/*
 @name 灰色轨迹
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-chr-c {
	overflow: hidden;
	background:url("images/title-chr-c.png") no-repeat;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding-left: 12px;
}
.title-chr-c a,
.title-chr-c span {
	color:#fff;
	font-size: 14px;
}