.content-vote-gray-b{background-color:#FFF; font-size:12px;}
.content-vote-gray-b .mod-vote {
	padding:10px;
	overflow:hidden;
	zoom:1;
}
.content-vote-gray-b  dl {
	margin:3px 0;
}
.content-vote-gray-b  dt {
	color:#0d774b;
	line-height:20px;
}
.content-vote-gray-b  dd {
	margin-left:10px;
	line-height:20px;
}
.content-vote-gray-b .input-radio{margin-right:4px;}
.content-vote-gray-b  label {
	cursor:pointer;
}
 
 .content-vote-shuimo .content-vote-shuimo {margin-top:10px;margin-bottom:10px;float:left;}
 .content-vote-gray-b  a.result{margin-left:10px; color:#0d774b; text-decoration:none; }
 .dd-submit {margin-top:10px;}