 .content-palist-blue li {	padding:8px 6px;	border-bottom:1px dotted #ccc;}
 .content-palist-blue img {	margin:8px 8px 8px 0;}
 .content-palist-blue .summary {	margin:0;	padding:0;}
 .content-palist-blue{background-color:#fff;}
 .content-palist-blue .imgtxtsummary-list{margin:0 4px;}
 .content-palist-blue .imgtxtsummary-list a{color:#333;}
 .content-palist-blue .imgtxtsummary-list h3 a{ color:#06c; font-size:12px;font-weight:bold;}
 .content-palist-blue .imgtxtsummary-list p{color:#333;}
 .content-palist-blue .imgtxtsummary-list a:hover{text-decoration:none;color:#c00;}
