.content-title-shuimo ul {padding:2px; font-size:12px; color:#666666;}
.content-title-shuimo li {
	line-height:18px;
}
.content-title-shuimo a {
	color:#663300;
}
.content-title-shuimo a:hover {
	color:#c00;
	text-decoration:none;
}
.content-title-shuimo li.item-1 {
	padding:5px 2px;
	float:none;
}
.content-title-shuimo li.item-1 a {
	font-family: Microsoft YaHei;
	font-size:16px;
	font-weight:bold;
	color:#663300;
	text-decoration:none;
	line-height:20px;
}
.content-title-shuimo li.item-1 a:hover {
	color:#c00;
}