.content-title-gray-d ul {padding:2px; font-size:12px; color:#666666;}
.content-title-gray-d li {
	line-height:18px;
}
.content-title-gray-d a {
	color:#666;
}
.content-title-gray-d a:hover {
	color:#0d774b;
	text-decoration:none;
}
.content-title-gray-d li.item-1 {
	padding:5px 2px;
	float:none;
}
.content-title-gray-d li.item-1 a {
	font-family: Microsoft YaHei;
	font-size:16px;
	font-weight:bold;
	color:#0d774b;
	text-decoration:none;
	line-height:20px;
}
.content-title-gray-d li.item-1 a:hover {
	color:#0d774b;
}