/*
 @name 灰色轨迹
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-newYear-d {
	overflow: hidden;
	background:url("images/newyear-d.png") no-repeat;
	height:30px;
	border-bottom:1px solid #e8d3a2;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
}
.title-newYear-d a,
.title-newYear-d span{color:#333;}
