 .content-piclist-gray-e{padding-top:10px;}
 .content-piclist-gray-e li {	margin:0 7px 10px;}
 .content-piclist-gray-e img{border:1px solid #333;padding:1px;}
 .content-piclist-gray-e a {	color:#999;	font-size:12px;}
 .content-piclist-gray-e a:hover{text-decoration:none;color:#ffc000;}
