.content-menu-year {
	background:url("images/bg.jpg") repeat-x;
	padding:0px 10px;
}
.content-menu-year a {
	color:#fff;
	font-size:12px;
}
.content-menu-year a:hover {
	color:#c00;
	text-decoration:none;
}
.content-menu-year span.sepr {
	margin:0 4px;
	color:#fff;
	font-size:12px;
}