.content-list-blue ul {
	padding:8px 10px 0;
}
.content-list-blue li {
	line-height:22px;
	padding-left:8px;
	background:url("images/point.gif") no-repeat 0 10px;
}
.content-list-blue a {
	font-size:14px;
	color:#06c;
}
.content-list-blue a:hover{ color:#c00;}
.content-list-blue .date{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
}