.txtlink-list {
	overflow:hidden;
	margin:0;
	list-style:none;
}
.txtlink-list li {
	style-type:none;
	line-height: 20px;
}
.txtlink-list li a {
	text-decoration:none;
}
.txtlink-list li a:hover {
	text-decoration:underline;
}
.txtlink-list li .date {
	float: right;
}