<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset={$CONFIG[charset]}" />
<meta http-equiv="Content-Language" content="zh-CN" />
<title>专题_{$SYSTEM[sitename]}</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="expires" content="0" />
<meta name="keywords" content="{$tags}" />
<meta name="description" content="{$description}" />
<meta name="author" content="{$SYSTEM[sitename]}" />
<meta name="Copyright" content="{$SYSTEM[sitename]}版权所有" />
<base target="_blank">
	<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<!--[if IE]> 
		<link href="{IMG_URL}templates/{TEMPLATE}/css/ie6.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
	<![endif]-->
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.cookie.js"></script>
	</head>
	
	<body>
		<!--{template 'system/header_channel.html'}-->
		
		
		
		<div class="hr-h10"></div>
		<div class="column">
			<div class="menu-cir nosubmenu">
				<div class="menu-cir-main">
					<div class="mode-menu">
							<ul id="common-menu">
				<li><a href="{WWW_URL}" target="_self">首页</a></li>
				<li><a href="http://news.cmstop.loc/" target="_self">新闻</a></li>
				<li><a href="http://photo.cmstop.loc/" target="_self">图片</a></li>
				<li><a href="http://video.cmstop.loc/" target="_self">视频</a></li>
				<li><a href="http://talk.cmstop.loc/" target="_self">访谈</a></li>
				<li id="nav-cur"><a href="http://special.cmstop.loc/" target="_self">专题</a></li>
				<li><a href="http://space.cmstop.loc/" target="_self">专栏</a></li>
				<li><a href="{WWW_URL}paper/" target="_self">报纸</a></li>
				<li><a href="{WWW_URL}magazine/" target="_self">杂志</a></li>
				<li><a href="{APP_URL}roll.php" target="_self">滚动</a></li>
				<li><a href="{APP_URL}rank.php" target="_self">排行</a></li>
				<li><a href="{APP_URL}tags.php" target="_self">标签</a></li>
				<li><a href="{APP_URL}digg.php" target="_self">Digg</a></li>
				<li><a href="{APP_URL}mood.php" target="_self">心情</a></li>
				</ul>
					</div>
					
				</div>
				<div class="menu-cir-l"></div>
				<div class="menu-cir-r"></div>
			</div>
		</div>
		<div class="hr-h10"></div>
		
		<!-- ******************* start Flash部分    *********************** -->
		<div class="column video-f-wrap">
			<div class="col-l-main mode-flash-1" style="margin: 10px 0 0 10px; width: 560px;">
				<!--#include virtual="/section/46.html"-->
			</div>
			<div class="col-r-extra w-370">
				<div class="padd-8 video-hot">
					<p class="mode-bg-dott"><span class="span-bg-black">图片专题</span></p>
					<div class="mode-txtlink fs-14 cor-06c">
						<!--#include virtual="/section/47.html"--><!--图片专题-->
						<div class="hr-h6"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- ******************* end Flash部分    *********************** -->
		<div class="hr-h10"></div>
		<div class="column">
			<!--#include virtual="/section/48.html"-->
		</div>
		<div class="hr-h10"></div>
		
		<!-- ******************* start 专题列表    *********************** -->
		<div class="column">
			<div class="mode-col-2">
				<ul>
				<!--{loop channel() $c}-->
					<li class="wrap-one bor-9fc special-w473">
						<div class="mode-head">
							<h2 class="cor-c00">{$c[name]}</h2>
							<a href="{$c[url]}" class="more-e">查看全部</a>
						</div>
						<div class="mode-txtlink fs-14 cor-06c">
							<ul class="mar-b-8">
							  <!--{content catid="$c[childids]" modelid="10" orderby="published desc" size="8"}-->
								<li><span class="date f-r">{date('Y-m-d',$r[published])}</span><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],50)}</a></li>
							  <!--{/content}-->
							</ul>
						</div>
					</li>
				 <!--{/loop}-->
				
				</ul>
			</div>
		</div>
		<!-- ******************* end 专题列表    *********************** -->
	
		<!--[if IE]> 
				<div class="hr-h6"></div>
		<![endif]-->
		<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/tabs.js"></script>

		<!--{template 'system/footer.html'}-->