.content-vote-shuimo{background-color:#FFF; font-size:12px; color:#663300;}
.content-vote-shuimo .mod-vote {
	padding:10px;
	padding:10px;
	overflow:hidden;
	zoom:1;
}
.content-vote-shuimo  dl {
	margin:3px 0;
}
.content-vote-shuimo  dt {
	color:#663300;
	line-height:20px;
}
.content-vote-shuimo  dd {
	margin-left:10px;
	line-height:20px;
}
.content-vote-shuimo .input-radio{margin-right:4px;}
.content-vote-shuimo  label {
	cursor:pointer;
}
 
 .content-vote-shuimo .content-vote-shuimo {margin-top:10px;margin-bottom:10px;float:left;}
 .content-vote-shuimo  a.result{margin-left:10px; color:#c00; text-decoration:none;}
 .dd-submit {margin-top:10px;}