.content-menu-purple-a {
	background-color:#9579b8;
	padding:0px 10px;
}
.content-menu-purple-a a {
	color:#fff;
	font-size:12px;
}
.content-menu-purple-a a:hover {
	color:#9416cf;
	text-decoration:none;
}
.content-menu-purple-a span.sepr {
	margin:0 4px;
	color:#fff;
	font-size:12px;
}