 .content-piclist-gray-b{padding-top:10px;background-color:#FFF;}
 .content-piclist-gray-b li {	margin:0 7px 10px;}
 .content-piclist-gray-b img{border:1px solid #ccc;padding:1px;}
 .content-piclist-gray-b a {	color:#333;	font-size:12px;}
 .content-piclist-gray-b a:hover{text-decoration:none;color:#DA2C83;}