 .content-survey-gray-d{background-color:#FFF; font-size:12px;}
 .content-survey-gray-d .mod-survey .summary{line-height:20px;color:#666;}
 .content-survey-gray-d .mod-survey .bdr_0{ margin-right:4px;}
.content-survey-gray-d .mod-survey {
	padding:10px;
}
.content-survey-gray-d  dl {
	margin:3px 0; margin-bottom:15px;
}
.content-survey-gray-d  dt {
	color:#9416cf;
	line-height:18px;
	margin-bottom:6px;
}
.content-survey-gray-d  dd {
	margin-left:10px;
	line-height:20px;
}
.content-survey-gray-d  label {
	cursor:pointer;
}