 .content-piclist-gray-c{padding-top:10px;background-color:#FFF;}
 .content-piclist-gray-c li {	margin:0 7px 10px;}
 .content-piclist-gray-c img{border:1px solid #ccc;padding:1px;}
 .content-piclist-gray-c a {	color:#333;	font-size:12px;}
 .content-piclist-gray-c a:hover{text-decoration:none;color:#0d774b;}
