/*
 @name 粉色系列
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-red-d {
	overflow: hidden;
	background:url("images/red-d.jpg") repeat-x;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
}
.title-red-d a,
.title-red-d span{color:#fff;font-weight:bold;font-size:14px;}