.pic-list {
	margin:0;padding:0;
}
.pic-list li {
	list-style:none;
	display:inline-block;
	vertical-align:top;
	*display:inline-table;
	/* for ie 7*/
	+display:inline;
	+zoom:1;
	padding:1px 1px 2px 2px;
	margin:2px;
	text-align:center;
	line-height:16px;
}
.pic-list img {
	width:80px;
	height:60px;
	border:none;
    display: block;
    margin:0 auto 6px;
}
.pic-list a {
	display:inline-block;
	text-decoration: none;
}
