.content-vote-gray-e{background-color:#FFF; font-size:12px;}
.content-vote-gray-e .mod-vote {
	padding:10px;
	padding:10px;
	overflow:hidden;
	zoom:1;
}
.content-vote-gray-e  dl {
	margin:3px 0;
}
.content-vote-gray-e  dt {
	color:#c00;
	line-height:20px;
}
.content-vote-gray-e  dd {
	margin-left:10px;
	line-height:20px;
}
.content-vote-gray-e .input-radio{margin-right:4px;}
.content-vote-gray-e  label {
	cursor:pointer;
}
 
 .content-vote-shuimo .content-vote-shuimo {margin-top:10px;margin-bottom:10px;float:left;}
 .content-vote-gray-e  a.result{margin-left:10px; color:#c00; text-decoration:none; line-height:40px;}
 .dd-submit {margin-top:10px;}
