/*
 @name 粉色系列
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-red-c {
	overflow: hidden;
	background:url("images/red-c.jpg") repeat-x;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
}
.title-red-c a,
.title-red-c span{color:#900;font-weight:bold;font-size:14px;}