/*
 @name 蓝色经典
 @notes 每条规则 以 .content-{模块文件夹名}-{风格包文件夹名} 开头
*/
.content-activity-gray-b{background-color:#fff;}
.content-activity-gray-b .mod-activity {
	padding:10px;
	font-size:12px;
	color:#666;
}
.content-activity-gray-b .summary {
	padding-bottom:10px;
	line-height:18px;
	font-size:12px;
}
.content-activity-gray-b .require {
	color:#9416cf;
	border-top:1px dotted #ccc;
}
.content-activity-gray-b label {
	cursor:pointer;
	font-weight:normal;
}
.content-activity-gray-b table {
	color:#333;
}
.content-activity-gray-b th {
	text-align:right;
	font-weight:normal;
}
.content-activity-gray-b th em {
	color:#9416cf;
}
.content-activity-gray-b input.input-submit {
	background:url("images/submit.gif") no-repeat 0 0;
	color:#fff;
	height:23px;
	width:72px;
	border:0;
}