.content-menu-black-a {
	background:url("images/bg.jpg") repeat-x;
	padding:0px 10px;
}
.content-menu-black-a a {
	color:#ccc;
	font-size:12px;
}
.content-menu-black-a a:hover {
	color:#ffcc00;
	text-decoration:none;
}
.content-menu-black-a span.sepr {
	margin:0 4px;
	color:#ccc;
	font-size:12px;
}