 .content-piclist-gray-a{padding-top:10px;background-color:#FFF;}
 .content-piclist-gray-a li {	margin:0 7px 10px;}
 .content-piclist-gray-a img{border:1px solid #ccc;padding:1px;}
 .content-piclist-gray-a a {	color:#333;	font-size:12px;}
 .content-piclist-gray-a a:hover{text-decoration:none;color:#c00;}