.content-menu-red-a {
	background-color:#c91001;
	padding:0px 10px;
}
.content-menu-red-a a {
	color:#fff;
	font-size:12px;
}
.content-menu-red-a a:hover {
	color:#ccc;
	text-decoration:none;
}
.content-menu-red-a span.sepr {
	margin:0 4px;
	color:#fff;
	font-size:12px;
}