 .content-palist-gray-a li {padding:8px 6px;	border-bottom:1px dotted #ccc;}
 .content-palist-gray-a img {margin:8px 8px 8px 0;}
 .content-palist-gray-a .summary {margin:0;	padding:0;}
 .content-palist-gray-a{background-color:#fff;}
 .content-palist-gray-a .imgtxtsummary-list{margin:0 4px;}
 .content-palist-gray-a .imgtxtsummary-list a{color:#333;}
 .content-palist-gray-a .imgtxtsummary-list h3 a{ color:#333; font-size:12px;font-weight:bold;}
 .content-palist-gray-a .imgtxtsummary-list p{color:#333;}
 .content-palist-gray-a .imgtxtsummary-list a:hover{text-decoration:none;color:#c00;}