<script>

    $(function(){
        var M = getLogin();
        var r = '?redirect=' + encodeURIComponent(window.location.href);
        if (M.status) {
            var h = '<a href="' + getDomain('my') + '" class="register">' + M.username + '</a>&nbsp;&nbsp;' +
                    '<a href="' + getDomain('passport') + 'logout' + r + '" class="register">[ 退出 ]</a>';
        } else {
            var h = '<a class="loginicon" href="' + getDomain('passport') + 'login' + r + '">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;' +
                    '<a href="{REGISTER_URL}">注册</a>';
        }
        $('.tk-reg').html(h);
    })
</script>
<div class="tk-footer">
    <div class="tk-footercontent">
        <div class="fn-tac tk-footermenu">
            <a href="http://www.kuaiji.com/about/index.html" target="_blank" rel="nofollow">公司介绍</a><span>|</span><a href="http://www.kuaiji.com/about/contact.html" target="_blank" rel="nofollow">联系我们</a><span>|</span><a href="{WWW_URL}kefu/feedback.html" target="_blank" rel="nofollow">意见反馈</a><span>|</span><a href="http://bbs.kuaiji.com/forum.php?mod=forumdisplay&amp;fid=802&amp;filter=typeid&amp;typeid=127" target="_blank" rel="nofollow">常见问题</a>
        </div>
        <div class="fn-tac tk-copyright"><a href="http://www.kuaiji.com/" title="会计网">会计网</a> 版权所有 Copyright © 2010 - 2015 <a href="http://www.kuaiji.com/" title="会计网"> www.kuaiji.com</a>  All Rights Reserved　<a class="c4 unl" rel="nofollow" target="_blank" style="cursor:pointer;" onclick="window.open('http://www.miitbeian.gov.cn/', '_blank');return false;">粤ICP备11091976号-1</a><a class="c4 unl" target="_blank" style="cursor:pointer; margin-left: 10px;" href="{WWW_URL}licence/edu.html" rel="nofollow" >粤教信息函（2014）12号</a></div>
        <div class="fn-tac tk-copyright">除特别注明外，作品版权归会计网所有。如果无意之中侵犯了您的权益，请<a href="http://www.kuaiji.com/about/contact.html" target="_blank">来信告知</a>，本站将在三个工作日内做出处理。</div>

    </div>
</div>
<script id="statjs" src="{STYLE_URL}js/stat.js?catid=0" type="text/javascript" charset="utf-8"></script>
<!--is create time:<?php echo date('Y-m-d H:i:s', time());?>-->
</body>