<script>
var BASE_DOMAIN = '{BASE_DOMAIN}';
</script>
<script src="{JS_URL}kuaiji.js" type="text/javascript"></script>
<div class="tk-mini">
    <div class="tk-minibox clearfix">
        <div class="tk-home"><a href="{WWW_URL}" target="_blank">会计网首页</a><a href="{VIDEO_URL}">网校</a><a href="{BBS_URL}">论坛</a></div>
        <div class="tk-menu clearfix">
            <ul>
                <li class="tk-search"><a href="{WWW_URL}exam/so">搜索题目</a></li>
                <li class="tk-cart"><a href="{WWW_URL}exam/my/history/{$id}.html" target="_blank">我的练习</a></li>
                <li class="tk-reg"></li>
            </ul>
        </div>
    </div>
</div>
<?php
    extract($_GET);
	$url_cp = config::get('exam','url_cp');
    $subjectid =  $subjectid ? intval($subjectid) : (in_array($controller, array('my', 'question')) && !in_array($action, array('analyze', 'report')) ? ($id ? intval($id) : 401) : 401);
    $action = $action == 'show' ? 'project' : $action;
    $router = 'action_id';
    if ($controller == 'my')$router = 'my/action_id';
    if ($controller == 'question')$router = 'question/action_id';
?>
<div class="tk-mainbg" style="background:none">
    <div class="tk-mainmenu" style="background:none">
        <div class="tk-maintitle clearfix">
            <a href="{WWW_URL}exam" target="_blank" class="fn-fl mt5 logo"><span class="beta"></span><img src="{IMG_URL}images/exam/logo.png"></a>
            <div class="fn-fl tk-navlist">
                <ul>
                    <li id="proList"><a href="javascript:void(0);" class="drop fts20 aLink view-project">{$propertys[$subjectid]['name']}</a>
                    <input type="hidden" name="subjectid" id="subjectid" value="{$subjectid}">
                        <div class="tk-base clearfix pro-list fn-dn">
                        <ul>
                            <?php $exam_png =0?>
                            {loop $project_t $val}
                            <li class="clearfix">
                                <div class="lititle">{$val['name']}</div>
                                {loop $val['child'] $val1}
                                <?php ++$exam_png?>
                                <div class="divbox" data-id="{$val1['proid']}" data-title="{$val1['name']}">
                                    <a href="{examurl2cp($val1['proid'])}">
                                        <p class="imagebox"><img src="{IMG_URL}images/exam/icon/{$exam_png}.png" height="57"></p>
                                        <p>{$val1['name']}</p>
                                    </a>
                                </div>
                                {/loop}
                            </li>
                            {/loop}
                        </ul>
                        </div>
                        <div class="tk-tip fn-dn"></div>
                    </li>
                    <li><a href="{examurl2cp($subjectid)}" class="goproject w83 aLink{if $controller == 'exam'} tk-on{/if}">模考与练习</a></li>
                    <li><a href="{kuaiji_url('my/action_id' , array('action'=>'history', 'id'=>$subjectid) , 'exam')}" class="w83 aLink{if $controller == 'my'} tk-on{/if}">我的练习</a></li>
                    <li><a href="{kuaiji_url('question/action_id' , array('action'=>'lists', 'id'=>$subjectid) , 'exam')}" class="w83 aLink{if $controller == 'question'} tk-on{/if}" >试题大全</a></li>
                </ul>
            </div>
            <div class="tk-items clearfix">
                <ul>
                    <!--
					<li class="tk-stk"><a target="_blank" href="{VIDEO_URL}">网校</a></li>
					<li class="tk-bbs"><a target="_blank" href="{BBS_URL}">论坛</a></li>
					-->
					<!--yzl修改开始-->
					<li class="tk-stk"><a href="http://zt.kuaiji.com/2014/tiku/web/" target="_blank">APP版</a></li>
					<li class="tk-bbs"><a href="javascript:void(0)">微信版</a>
						<div class="tk-weixin">
							<img src="{IMG_URL}images/exam/qrcode.png" style="margin:0 auto; display:block; width:111px;" />
							<span>微信扫描启动</span>
						</div>
					</li>
					<script>
						$(function(){
							$(".tk-bbs").hover(function(){
								$(this).find(".tk-weixin").show();
							},function(){
								$(this).find(".tk-weixin").hide();
							});
						});
					</script>
					<!--yzl修改结束-->
                </ul>
            </div>
        </div>
<script type="text/javascript" src="{JS_URL}lib/jquery.cookie.js"></script>
<script type="text/javascript">
    projectid = '{$subjectid}';
    projecturl = "{kuaiji_url('action' , array('action'=>'project') , 'exam')}";
    (function() {
        $('#proList').click(function(){
            if ($(this).attr('data-fyou')) {
                $(this).removeAttr('data-fyou');
                $(this).find('.tk-tip').addClass('fn-dn');
                $('.pro-list').addClass('fn-dn');
            } else {
                $('.pro-list').removeClass('fn-dn');
                $(this).find('.tk-tip').removeClass('fn-dn');
                $(this).attr('data-fyou', 1)

            }
        })
        /* var Days = 1;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days*24*60*60*1000);
        $('#proList .pro-list a').click(function(){
            var pro = $(this).parent();
            var projectid = pro.attr('data-id');
            var projecttitle = pro.attr('data-title');
            $('#subjectid').val(projectid);
            $('.view-project').html(projecttitle);
            $.cookie('KJ_exam_project', projectid,{expires: exp.toGMTString(), path: '/', domain:BASE_DOMAIN})
            window.location = "{WWW_URL}exam/project.html";
        })*/
        $('.goproject').click(function(){
            $.cookie('KJ_exam_project', projectid,{expires: exp.toGMTString(), path: '/', domain:BASE_DOMAIN})
            window.location = projecturl;
        })
       /* $('.tk-basebox a').click(function(){
            var parents = $(this).parents('.tk-basebox');
            $('#proList a.aLink').html(parents.attr('data-title'));
            $('#proList').find('.tk-tip').addClass('fn-dn');
            $('.pro-list').addClass('fn-dn');
            $('#subjectid').val(parents.attr('data-id'))
        })*/
        var M = getLogin();
        var r = '?redirect=' + encodeURIComponent(window.location.href);
        if (M.status) {
            var h = '<a href="' + getDomain('my') + '" class="register">' + M.username + '</a>&nbsp;&nbsp;' +
                    '<a href="' + getDomain('passport') + 'logout' + r + '" class="register">[ 退出 ]</a>';
        } else {
            var h = '<a class="loginicon" href="' + getDomain('passport') + 'login' + r + '">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;' +
                    '<a href="' + getDomain('passport') + 'register' + r + '">注册</a>';
        }
        $('.tk-reg').html(h);


    })();
</script>