<?php

	$url_cp = config::get('exam','url_cp');
    $exam_catid = array(11100,11500,11200,11300,);
    $lists = loader::model('exam', 'exam')->daylist($exam_catid);
    foreach ($lists as $key => $val) {
        if ($val['contentid'])$contentids[] = $val['contentid'];
        if (!$val['contentid'])unset($lists[$key]);

    }
    $contentid = implode(',', $contentids);
    if ($contentids) {
        $avatars = loader::model('answer', 'exam')->get_answer_createdby($contentids);
        foreach ($lists as $k=>$val) {
            $lists[$k]['avatar'] = $avatars[$k];
        }
    }
    //$section = array(11100=>368,11200=>369,11300=>370,11500=>371);
    $catids = array(11100=>22110,11200=>22120,11300=>22130,11500=>22150);
    $bbs_section = array(11100=>459,11200=>460,11300=>461,11500=>462);
    $dateline = date("Ymd", time());
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <link rel="shortcut icon" href="http://c.kuaiji.com/image/common/favicon.ico">
    <title>会计模拟题库_会计考试题库_会计从业资格考试题库_会计基础题库 - 会计网</title>
    <meta name="keywords" content="会计从业考试题库，会计职称考试题库，会计考试试题及答案,会计模拟考试，会计考试试题，会计无纸化考试">
    <meta name="description" content="会计网题库提供初级会计题库,2013会计上岗证题库,会计从业考试题库,会计从业题库,会计从业资格考试题库,会计基础题库,会计网做最好的会计模拟题库、会计考试题库。">
    <base href="http://www.kuaiji.com/">
    <link href="{CSS_URL}exam/reset.css" rel="stylesheet" />
    <link href="{CSS_URL}exam/func.css" rel="stylesheet" />
    <link href="{CSS_URL}exam/exam.css" rel="stylesheet" />
    <script type="text/javascript" src="{JS_URL}jquery.js"></script>
    <script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
	<script type="text/javascript">
    BAIDU_CLB_preloadSlots("994994","994992","994990","994989");
    </script>
	{include_tpl('section/605.html')}
</head>

<body>

<script>
    var BASE_DOMAIN = '{BASE_DOMAIN}';
</script>
<script src="{JS_URL}kuaiji.js" type="text/javascript"></script>
<div class="tk-mini">
    <div class="tk-minibox clearfix">
        <div class="tk-home"><a href="{WWW_URL}" target="_blank">会计网首页</a><a href="{VIDEO_URL}">网校</a><a href="{BBS_URL}">论坛</a></div>
        <div class="tk-menu clearfix">
            <ul>
                <li class="tk-search"><a href="{WWW_URL}exam/so">搜索题目</a></li>
                <li class="tk-cart"><a href="{kuaiji_url('my/action' , array('action'=>'history') , 'exam')}" target="_blank">我的练习</a></li>
                <li class="tk-reg"></li>
            </ul>
        </div>
    </div>
</div>
<div class="tk-mainbg">
<div class="tk-mainmenu">
<div class="tk-maintitle clearfix">
    <a href="{WWW_URL}exam" class="fn-fl mt5 logo"><span class="beta"></span><img src="{IMG_URL}images/exam/logo.png"></a>
    <div class="tk-items clearfix">
        <ul>
        	<!--
            <li class="tk-stk"><a target="_blank" href="{VIDEO_URL}">网校</a></li>
            <li class="tk-bbs"><a target="_blank" href="{BBS_URL}">论坛</a></li>
            -->
            <!--yzl修改开始-->
            <li class="tk-stk"><a href="http://zt.kuaiji.com/2014/tiku/web/" target="_blank">APP版</a></li>
            <li class="tk-bbs"><a href="javascript:void(0)">微信版</a>
                <div class="tk-weixin">
                    <img src="{IMG_URL}images/exam/qrcode.png" style="margin:0 auto; display:block; width:111px;" />
                    <span>微信扫描启动</span>
                </div>
            </li>
            <script>
                $(function(){
                    $(".tk-bbs").hover(function(){
                        $(this).find(".tk-weixin").show();
                    },function(){
                        $(this).find(".tk-weixin").hide();
                    });
                });
            </script>
            <!--yzl修改结束-->
        </ul>
    </div>
</div>
<script type="text/javascript">
    (function() {
        $('#proList').click(function(){
            if ($(this).attr('data-fyou')) {
                $(this).removeAttr('data-fyou');
                $(this).find('.tk-tip').addClass('fn-dn');
                $('.pro-list').addClass('fn-dn');
            } else {
                $('.pro-list').removeClass('fn-dn');
                $(this).find('.tk-tip').removeClass('fn-dn');
                $(this).attr('data-fyou', 1)

            }
        })
        /* $('.tk-basebox a').click(function(){
         var parents = $(this).parents('.tk-basebox');
         $('#proList a.aLink').html(parents.attr('data-title'));
         $('#proList').find('.tk-tip').addClass('fn-dn');
         $('.pro-list').addClass('fn-dn');
         $('#subjectid').val(parents.attr('data-id'))
         })*/
    })();
</script>
        <div class="tk-ad clearfix">
        	<div class="tk-adarea">
            	<div class="clearfix">
                	<div class="fn-fl fn-fwb tk-public">公告：</div>
                    <div class="fn-fl tk-publicArea">
                    	<div class="tk-parea clearfix">
                            {include_tpl("section/393.html")}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tk-share clearfix">
            <!--
            	<a href="#"><img src="{IMG_URL}images/exam/qqweibo.png" /></a>
                <a href="#"><img src="{IMG_URL}images/exam/qqzone.png" /></a>
                <a href="#"><img src="{IMG_URL}images/exam/qq.png" /></a>
                <a href="#"><img src="{IMG_URL}images/exam/sina.png" /></a>
                <a href="#"><img src="{IMG_URL}images/exam/erweima.png" /></a>
			-->
                <div class="bdsharebuttonbox"><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                </script>

            </div>
        </div>
		<!--广告位通栏代码1, begin-->
        <!-- 广告位：TK-SY-001 -->
		<div style="padding-top: 15px;width: 960px;margin: 0 auto;margin-bottom: -22px;"><script type="text/javascript">BAIDU_CLB_fillSlot("994989");</script></div>
        <!--广告位通栏代码1, end-->
        
        <?php $exam_png = 1; $guanggao=0;?>
        <!--{loop $lists $k $val}-->

        <!-----start----->
            {if $guanggao==2}
                <!--广告位通栏代码2, begin-->
                <!-- 广告位：TK-SY-002 -->
                <div style="padding-top: 3px;width: 960px;margin: 0 auto;margin-bottom: -25px;"><script type="text/javascript">BAIDU_CLB_fillSlot("994990");</script></div>
                <!--广告位通栏代码2, end-->
            {/if}
        <?php $guanggao++;?>
        <div class="tk-title clearfix">
            <a name="{$k}"></a>
        	<div class="fn-fl tk-titleleft">{$val['category']['name']}</div>
            <div class="fn-fr tk-titleright">已有<em class="tk-join cat-for-count-{$k}">--</em>位学员参与</div>
        </div>
        <div class="{if $exam_png == 1}tk-content{else}tk-contentb{/if} exam-catid-{$k}">
        	<div class="tk-area">
            	<div class="tk-areatop clearfix">
                	<div class="tk-areatopleft">
                    	<div class="clearfix">
                        	<div class="tk-toptitle">{$val['title']}</div>
                            <a target="_blank" href="{kuaiji_url('show' , array('examid'=>md5($val['contentid'])) , 'exam')}" class="tk-qda"></a>
                        </div>
                        <div class="tk-lists clearfix">
                        	<ul>
                            	<li class="answerright">
                                	<div class="tk-itemtitle mt10 fn-tac"><a>答对一题奖励</a></div>
                                    <div class="tk-itemright">{$val['integral']}</div>
                                    <div class="tk-type">金币</div>
                                </li>
                                <li class="joinactive">
                                	<div class="tk-itemtitle mt10 fn-tac"><a>今日参与人数</a></div>
                                    <div class="tk-itemright exam-content-for-count">--</div>
                                    <div class="tk-type">人</div>
                                </li>
                                <li style="margin-right:0">
                                	<img src="{IMG_URL}images/exam/icon/{$val['category']['catid']}.png">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tk-areatopright">
                    	<div class="fts14">他们已抢答</div>
                        <div class="tk-users clearfix">
                        	<ul>
                                {if $val['avatar']}
                                <!--{loop $val['avatar'] $k1 $avatar}-->

                                <li><a target="_blank" href="{BBS_URL}space-uid-{$k1}.html"><img src="{$avatar}"></a></li>
                                <!--{/loop}-->
                                {else}
                                你将是第一个做题的人...<a target="_blank" href="{kuaiji_url('show' , array('examid'=>md5($val['contentid'])) , 'exam')}">点击去做题</a>
                                {/if}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tk-areamiddle">
                	<div class="fts14 fn-fwb pl20">模考与真题</div>
                    <div class="tk-books clearfix">
                    	<ul>
                            <!--{loop $val['types']['childs'] $k2 $child}-->

                        	<li class="type-{$k2}">
                            	<a  href="{examurl2cp($child['proid'])}" target="_blank" data-id="{$k2}" class="tk-booklink exam-project"></a>
                            	<div class="fn-tac mt10"><img src="{IMG_URL}images/exam/icon/{$exam_png}.png" /></div>
                                <div class="fn-tac mt10">
                                	<span class="tk-nleft"><span class="tk-nright">{$child['name']}</span></span>
                                </div>
                                <div class="fn-tac fc-9e mt10">已有<em>--</em>位学员参与</div>
                            </li>
                            <?php ++$exam_png;?>
                            <!--{/loop}-->
                            <?php
                                $tt =  6 - count($val['types']['childs']);
                                for($i = 1; $i <= $tt; $i++):
                            ?>
                            <li>
                            	<a href="javascript:void(0);" class="tk-booklink"></a>
                            	<div class="fn-tac mt10"><img src="{IMG_URL}images/exam/icon/0.png" /></div>
                            </li>
                            <?php
                                endfor;
                            ?>
                        </ul>
                    </div>
                </div>
                <div class="tk-areafooter clearfix">
                	<div class="fn-fl w450">
                    	<div class="fn-fwb fts14">热门视频</div>
                        <div class="tk-vedio clearfix">
                            <ul>
                                <?php $catid=$catids[$k];?>
                        <!--{content catid="$catid" modelid="11" orderby="published desc" size="4"}-->
                        <li>
                            <a href="{$r[url]}" target="_blank" title="{$r[title]}">{str_cut($r[title], 36, '')}</a>
                        </li>
                        <!--{/content}-->
                            </ul>
                        </div>
                    </div>
                    
                    <div class="fn-fl w400 tk-mlistbox">
                    	<div class="fn-fwb fts14">热门资料下载</div>
                        <div class="tk-mlist clearfix">
                            {include_tpl("section/$bbs_section[$k].html")}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {if $guanggao == 1}
            {include_tpl("section/611.html")}
        {/if}
        <!-----/end----->
        <!--{/loop}-->

        
        
    </div>
</div>
<script type="text/javascript" src="{JS_URL}lib/jquery.cookie.js"></script>
<script type="text/javascript">
var bbs_url = "{BBS_URL}";
    $(function(){
        $(".tk-books li:nth-child(6n)").css({'border-right':'none'})
        $(".tk-books li").hover(
                function(){
                    $(this).addClass('bookon');
                },
                function(){
                    $(this).removeClass('bookon');
                }
        )
        $.getJSON('{WWW_URL}exam/exam/verificdn.html?jsoncallback=?',{dateline:'{$dateline}'}, function(json){

        })
        $.getJSON('{WWW_URL}exam/exam/ajaxdata.html?jsoncallback=?',{contentid:'{$contentid}'}, function(json){
            for (i in json) {
                $('.cat-for-count-'+i).html(json[i].all_count);
                $('.exam-catid-'+i + ' .exam-content-for-count').html(json[i].count);

                if (json[i].avatar){
                    var avatar = json[i].avatar;
                    var avatar_html = '';
                    for(a in avatar) {
                        avatar_html += '<li><a target="_blank" href="'+bbs_url+'space-uid-'+a+'.html"><img src="'+avatar[a]+'" data-bd-imgshare-binded="1"></a></li>'
                    }
                    $('.exam-catid-'+i + ' .tk-users ul').html(avatar_html);
                }
                if (json[i].typeschilds) {
                    var types = json[i].typeschilds;
                    for (t in types) {
                        $('.type-'+t+' em').html(types[t].a_count);
                    }
                }
            }
        })
        $('.exam-project').click(function(){
            var id = $(this).attr('data-id');
            var Days = 1;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days*24*60*60*1000);
            $.cookie('KJ_exam_project', id,{expires: exp.toGMTString(), path: '/', domain:BASE_DOMAIN})
        })

    })

</script>
<style>
    /*边栏回到顶部*/
    .feedback_new_kj a { background: url(http://static.kuaiji.com/images/news/n-icon.png) no-repeat;}
    .feedback_new_kj {position: fixed;left: 51%;margin-left: 510px;bottom: 80px;width: 62px;top: 100px;z-index: 99;_position: absolute;_top: expression(document.documentElement.clientHeight-410+documentElement.scrollTop +"px");}
    .feedback_new_kj a {width: 30px;height: 38px;line-height: 19px;padding: 6px 15px;display: block;float: left;margin-bottom: 3px;color: #fff;text-align: center;overflow: hidden;}
    .feedback_new_kj a:visited {color: #fff;text-decoration: none;}
    .feedback_new_kj a:hover {text-decoration: none;color: #fff000}
    .feedback_new_kj a.fk3 {background-position: 0 -32px;}
    .feedback_new_kj a.fk2 {background-position: 0 -140px;color: #1079B0;_margin-top: -27px;}
    .feedback_new_kj a.fk4 {background-position: 0 -86px;}
    .vcode-main { position: absolute; padding: 10px 20px 20px;width: 163px;background: #fff;border: 1px solid #BBB;box-shadow: 0 0 3px rgba(100,100,100,0.5);z-index: 999;top: 3px;right: 67px; }
    .vcode-main p {height: 36px;line-height: 36px;text-align: center;}
</style>
<!--边栏回到顶部-->
<div class="feedback_new_kj">
    <a class="fk3 vcode" href="javascript:void(0)">
        关注我们
        <div class="vcode-main fts16 f-detc fn-dn">
            <p>打开微信扫一扫</p><img src="http://static.kuaiji.com/images/news/modwt.png" width="163" height="163">
        </div>
    </a>
    <a href="javascript:void(0);" class="fk4" onclick="maodian('11100')">会计从业</a>
    <a href="javascript:void(0);" class="fk4" onclick="maodian('11200')">初级会计</a>
    <a href="javascript:void(0);" class="fk4" onclick="maodian('11300')">中级会计</a>
    <a href="javascript:void(0);" class="fk4" onclick="maodian('11500')">注册会计</a>
    <a class="fk4" href="{WWW_URL}kefu/feedback.html" target="_blank">意见反馈 </a>
    <a class="fk2 goToTop" href="javascript:void(0);">返回顶部</a>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        //回到顶部.
        $(".goToTop").click(function() {
            $("html, body").animate({scrollTop: 0}, 120);
        });
        //显示微信
        $(".vcode").hover(function () {
            $(".vcode-main").removeClass('fn-dn');

        }, function () {
            $(".vcode-main").addClass('fn-dn');
        })
    });
    function maodian(d){
        $("html, body").animate({scrollTop: $("a[name='"+ d +"']").offset().top-20}, 150);
    }

</script>
<!--边栏回到顶部-->
<!--{template 'exam/footer.html'}-->