<?php

	$url_cp = config::get('exam','url_cp');
    $propertys = common_data('property_0', 'brand');
    $exam_catid = array(11100,11200,11300,11500);
    $alphabet = array('A','B','C','D','E','F','G');
    $content = loader::model('content', 'system');
    $category = & $content->category;
foreach($exam_catid as $cid) {
$_types = get_property_child($category[$cid]['typeid']);
$project_t[$category[$cid]['typeid']] = $propertys[$category[$cid]['typeid']];
$project_t[$category[$cid]['typeid']]['child'] = $_types;
foreach ($_types as $types){
$_subject[$types['proid']] = $types;
}
}
	$subjectid = $url_cp[$cp];
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
<link rel="shortcut icon" href="http://c.kuaiji.com/image/common/favicon.ico">
{if $status == 6}
    {if $propertys[$typeid]['child']}
        <title>{$category[$catid]['name']}{$title}_会计网题库_会计网 </title>
        <meta name="keywords" content="{$category[$catid]['name']},{$category[$catid]['name']}每日一练,{$category[$catid]['name']}在线练习">
        <meta name="description" content="会计网题库{$category[$catid]['name']}{$title}">
    {else}
        <title>{$title}在线答题_会计网题库_会计网 </title>
        <meta name="keywords" content="{$title}在线答题,{$title}答案">
        <meta name="description" content="会计网题库{$title}在线答题_会计网题库_会计网  ">
    {/if}
{else}

    <?php
        $pos = strpos($title, '专项练习');
        if ($pos !== false) {
            $pos1 = strpos($title, $propertys[$typeid]['name']);
            $knowledge_title = substr_replace($title, '', $pos1,strlen($propertys[$typeid]['name']));
            $knowledge_title = str_replace('专项练习', '', $knowledge_title);
        }
    ?>
    {if $pos !== false}
    <title>{$propertys[$typeid]['name']}{$knowledge_title}试题练习_会计网题库_会计网 </title>
    <meta name="keywords" content="{$propertys[$typeid]['name']},{$knowledge_title}">
    <meta name="description" content="会计网题库{$propertys[$typeid]['name']}“{$knowledge_title}”试题专项练习，在线练习。 ">
    {else}
    <title>{$propertys[$typeid]['name']}在线模考_在线答题_会计网题库_会计网 </title>
    <meta name="keywords" content="{$propertys[$typeid]['name']}模考,{$propertys[$typeid]['name']}模拟试卷">
    <meta name="description" content="会计网题库在线{$propertys[$typeid]['name']}考试卷，在线答题.  ">
    {/if}
{/if}
<link href="{CSS_URL}exam/reset.css" rel="stylesheet" />
<link href="{CSS_URL}exam/func.css" rel="stylesheet" />
<link href="{CSS_URL}exam/exam.css" rel="stylesheet" />
<script type="text/javascript" src="{JS_URL}jquery.js"></script>
<script type="text/javascript" src="{JS_URL}dialog.js"></script>
<script type="text/javascript" src="{JS_URL}exam/exam.js?<?php echo date('Ymd', time())?>"></script>
<script type="text/javascript" src="{JS_URL}exam/show.js?<?php echo date('Ymd', time())?>"></script>
<script type="text/javascript" src="{JS_URL}lib/jquery.cookie.js"></script>
<script type="text/javascript">
    var contentid = "{$contentid}";
    var title = "{$title}";
</script>
{include_tpl('section/605.html')}
</head>
<?php
    $template = & factory::template('exam');
    $template->assign('subjectid', $typeid);
?>
<script>
    var BASE_DOMAIN = '{BASE_DOMAIN}';
</script>
<script src="{JS_URL}kuaiji.js" type="text/javascript"></script>
<div class="tk-mini">
    <div class="tk-minibox clearfix">
        <div class="tk-home"><a href="{WWW_URL}" target="_blank">会计网首页</a><a href="{VIDEO_URL}">网校</a><a href="{BBS_URL}">论坛</a></div>
        <div class="tk-menu clearfix">
            <ul>
                <li class="tk-search"><a href="{WWW_URL}exam/so">搜索题目</a></li>
                <li class="tk-cart"><a href="{kuaiji_url('my/action' , array('action'=>'history') , 'exam')}" target="_blank">我的练习</a></li>
                <li class="tk-reg"></li>
            </ul>
        </div>
    </div>
</div>


<div class="tk-mainbg" style="background:none">
    <div class="tk-mainmenu" style="background:none">
        <div class="tk-maintitle clearfix">
            <a href="{WWW_URL}exam" target="_blank" class="fn-fl mt5 logo"><span class="beta"></span><img src="{IMG_URL}images/exam/logo.png"></a>
            <div class="fn-fl tk-navlist">
                <ul>
                    <li id="proList"><a href="javascript:void(0);" class="drop fts20 aLink view-project">{$propertys[$typeid]['name']}</a>
                        <input type="hidden" name="subjectid" id="subjectid" value="{$typeid}">
                        <div class="tk-base clearfix pro-list fn-dn">
                            <ul>
                                <?php $exam_png =0?>
                                {loop $project_t $val}
                                <li class="clearfix">
                                    <div class="lititle">{$val['name']}</div>
                                    {loop $val['child'] $val1}
                                    <?php ++$exam_png?>
                                    <div class="divbox project_div_{$val1['proid']}" data-id="{$val1['proid']}" data-title="{$val1['name']}">
                                        <a href="{examurl2cp($val1['proid'])}">
                                            <p class="imagebox"><img src="{IMG_URL}images/exam/icon/{$exam_png}.png" height="57"></p>
                                            <p>{$val1['name']}</p>
                                        </a>
                                    </div>
                                    {/loop}
                                </li>
                                {/loop}
                            </ul>
                        </div>
                        <div class="tk-tip fn-dn"></div>
                    </li>
                    <li><a href="{examurl2cp($subjectid)}" class="w83 aLink {if $controller == 'exam'}tk-on{/if}">模考与练习</a></li>
                    <li><a href="{kuaiji_url('my/action_id' , array('action'=>'history', 'id'=>$typeid) , 'exam')}" class="w83 aLink {if $controller == 'my'}tk-on{/if}" >我的练习</a></li>
                    <li><a href="{kuaiji_url('question/action_id' , array('action'=>'lists', 'id'=>$typeid) , 'exam')}" class="w83 aLink" >试题大全</a></li>
                </ul>
            </div>
            <div class="tk-items clearfix">
                <ul>
                    <!--
                    <li class="tk-stk"><a target="_blank" href="{VIDEO_URL}">网校</a></li>
                    <li class="tk-bbs"><a target="_blank" href="{BBS_URL}">论坛</a></li>
                    -->
                    <!--yzl修改开始-->
                    <li class="tk-stk"><a href="http://zt.kuaiji.com/2014/tiku/web/" target="_blank">APP版</a></li>
                    <li class="tk-bbs"><a href="javascript:void(0)">微信版</a>
                        <div class="tk-weixin">
                            <img src="{IMG_URL}images/exam/qrcode.png" style="margin:0 auto; display:block; width:111px;" />
                            <span>微信扫描启动</span>
                        </div>
                    </li>
                    <script>
                        $(function(){
                            $(".tk-bbs").hover(function(){
                                $(this).find(".tk-weixin").show();
                            },function(){
                                $(this).find(".tk-weixin").hide();
                            });
                        });
                    </script>
                    <!--yzl修改结束-->
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            (function() {
                $('#proList').click(function(){
                    if ($(this).attr('data-fyou')) {
                        $(this).removeAttr('data-fyou');
                        $(this).find('.tk-tip').addClass('fn-dn');
                        $('.pro-list').addClass('fn-dn');
                    } else {
                        $('.pro-list').removeClass('fn-dn');
                        $(this).find('.tk-tip').removeClass('fn-dn');
                        $(this).attr('data-fyou', 1)

                    }
                })

               /* $('#proList .pro-list a').click(function(){
                    var pro = $(this).parent();
                    var projectid = pro.attr('data-id');
                    $.cookie('KJ_exam_project', projectid,{expires: 45454545454545454, path: '/', domain:BASE_DOMAIN})
                    window.location = '{WWW_URL}exam/project.html';
                })*/

            })();
        </script>
        <div class="tk-shadow"></div>
        <div class="tk-contentbg">
        	<div class="tk-exam clearfix">
        	<div class="tk-examleft">
            	<ul>
                    <?php
                        if ($donext) {
                            $m = floor($examtime/60);
                            $s = $examtime%60;
                            $s = sprintf("%02d", $s);
                        } else {
                            $m = $examtime;
                            $s = '00';
                        }

                    ?>
                    <li class="tk-timeCount fn-tac">剩余时间<span id="minutes">{$m}</span>:<span id="second">{$s}</span></li>
                    <li class="tk-control" id="pause"><a href="javascript:void(0);">暂停</a></li>
                    <li class="tk-control" id="donext"><a href="javascript:void(0)">下次继续做</a></li>
                    <li class="tk-control tk-submit" id="finish"><a href="javascript:void(0);">我要交卷</a></li>
                </ul>
            </div>
            <div class="tk-examright">
                <form action="{WWW_URL}exam/exam/finish.html" method="post" id="form_finish" >
                <input type="hidden" name="examtime" id="examtime" value="{$examtime}:00">
                <input type="hidden" name="isfinish" id="isfinish" value="0">
                <input type="hidden" value="{$contentid}" name="examid"/>

            	<div class="tk-examtitle pl20">{$title}</div>
                <div class="tk-examitems clearfix">
                	<ul id="sel_li_qtype">
                        <!--{loop $question $k3 $v3}-->
                    	<li id="on_{$v3['qtypeid']}" <!--{if $k3==0}-->class="on"<!--{/if}-->  data-id="{$k3}"><a href="javascript:void(0);" >{$v3['alias']} [0/<?php echo count($v3['question'])?>]</a></li>
                        <!--{/loop}-->
                    </ul>
                </div>

                <?php
                    $an_id = 0;
                    $an_array = array();
                ?>
                <!--{loop $question $k $v}-->

                <div class="qtype-div {if $k != 0}fn-dn{/if}" type-id="{$k}" id="qtype_div_{$v['qtypeid']}" >
                    <?php $des = $propertys[$v[qid]]['description'];?>
                    {if $des} <div class="tk-examboxtitle description_{$v['qid']}">

                    <div class="tk-examboxtitleinner">{$des}</div>
                </div>{/if}
                    <!--{loop $v['question'] $k1 $v1}-->
                    {if $v1['type'] == 'read'}
                    <div class="tk-examtimu" style="padding: 10px;">
                        {$v1['description']}
                    </div>
                    <!--{loop $v1['questions'] $k1 $v1}-->
                    <?php
                        ++$an_id;
                        $an_array[] = array('id'=>$an_id, 'qid'=>$v1['questionid']);
                    ?>
                    <a name="{$an_id}"></a>
                    <div class="tk-examtimu question_{$v1['questionid']}" id="question_{$an_id}" data-type="{$v1['type']}" data-id="{$an_id}">
                        <div class="tk-examtimuinner">
                            <span class="tk-listitem"><a href="#" name="1"></a>{$an_id}</span> {$v1['subject']}
                        </div>
                        {if in_array($v1['type'], array('radio','checkbox'))}
                        <div class="tk-examselect pl10 pr10 pt5 pb5">
                            <ul>
                                <!--{loop $v1['options'] $k2 $v2}-->
                                <li rel="select" data-tm='{$k2}' optionid="{$v2['optionid']}"><span class="mr10">{$alphabet[$k2]}</span>{$v2['name']}</li>

                                <!--{/loop}-->
                            </ul>
                        </div>
                        {else}
                        <div class="tk-examselect pl10 pr10 pt5 pb5">
                            本题暂时不支持作答，请交卷后查看解析，我们将会在下一版本进行改进。
                        </div>
                        {/if}
                        <div class="tk-selectitem clearfix">
                            <div class="fn-fl">
                                <ul>
                                    {if $v1['type'] == 'radio'}
                                    <!--{loop $v1['options'] $k5 $v5}-->
                                    <li rel="choose" id="op_{$v5['optionid']}">{$alphabet[$k5]}</li>
                                    <!--{/loop}-->
                                    {elseif $v1['type'] == 'checkbox'}
                                    <!--{loop $v1['options'] $k5 $v5}-->
                                    <li rel="choose" class="selectmore" id="op_{$v5['optionid']}">{$alphabet[$k5]}</li>
                                    <!--{/loop}-->
                                    {/if}
                                </ul>
                            </div>

                            <div class="fn-fr">
                                <a href="javascript:void(0);" data-id="{$v1['bandid']}" class="tk-save favorite">收藏本题</a>
                            </div>
                        </div>
                        <input type="hidden" class="answer-input" name="answer[{$v1['questionid']}]"/>
                    </div>
                    <!--{/loop}-->
                    {else}
                    <?php
                        ++$an_id;
                        $an_array[] = array('id'=>$an_id, 'qid'=>$v1['questionid']);
                    ?>
                    <a name="{$an_id}"></a>
                    <div class="tk-examtimu question_{$v1['questionid']}" id="question_{$an_id}" data-type="{$v1['type']}" data-id="{$an_id}">
                        <div class="tk-examtimuinner">
                            <span class="tk-listitem"><a href="#" name="1"></a>{$an_id}</span>
                            {if in_array($v1['type'], array('radio','checkbox'))}
                            {$v1['subject']}
                            {else}
                            <?php if (strlen($v1['subject']) <= 280):?>
                            {$v1['subject']}
                            <?php else:?>
                            {$v1['description']}
                            <?php endif;?>
                            {/if}
                        </div>
                        {if in_array($v1['type'], array('radio','checkbox'))}
                        <div class="tk-examselect pl10 pr10 pt5 pb5">
                            <ul>
                                <!--{loop $v1['options'] $k2 $v2}-->
                                <li rel="select" data-tm='{$k2}' optionid="{$v2['optionid']}"><span class="mr10">{$alphabet[$k2]}</span>{$v2['name']}</li>

                                <!--{/loop}-->
                            </ul>
                        </div>
                        {else}
                        <div class="tk-examselect pl10 pr10 pt5 pb5">
                            本题暂时不支持作答，请交卷后查看解析，我们将会在下一版本进行改进。
                        </div>
                        {/if}
                        <div class="tk-selectitem clearfix">
                            <div class="fn-fl">
                                <ul>
                                    {if $v1['type'] == 'radio'}
                                    <!--{loop $v1['options'] $k5 $v5}-->
                                    <li rel="choose" id="op_{$v5['optionid']}">{$alphabet[$k5]}</li>
                                    <!--{/loop}-->
                                    {elseif $v1['type'] == 'checkbox'}
                                    <!--{loop $v1['options'] $k5 $v5}-->
                                    <li rel="choose" class="selectmore" id="op_{$v5['optionid']}">{$alphabet[$k5]}</li>
                                    <!--{/loop}-->
                                    {/if}
                                </ul>
                            </div>

                            <div class="fn-fr">
                                <a href="javascript:void(0);" data-id="{$v1['questionid']}" class="tk-save favorite">收藏本题</a>
                            </div>
                        </div>
                        <input type="hidden" class="answer-input" name="answer[{$v1['questionid']}]"/>
                    </div>
                    {/if}
                    <!--{/loop}-->
                </div>
                <!--{/loop}-->
                <div class="tk-examtimu">
                	<div class="tk-examtimuinner" style="background:#FFF">
                    </div>
                </div>
                <div class="tk-pos">
                    <div class="clearfix pl10 pr10 h50">
                        <div class="tk-tagleft">
                            <div class="tk-tagright">收起答题卡<em class="tk-tagicon"></em></div>
                        </div>

                        <div class="fn-fr">
                        	<a href="javascript:void(0);" class="tk-nextbtn next">点击进入下一部分</a>
                        </div>
                        <div class="fn-fr fn-dn" style="margin-right: 5px;">
                            <a href="javascript:void(0);" class="tk-nextbtn up" >点击返回上一部分</a>
                        </div>
                    </div>

                    <div class="tk-answer">
                        <div class="tk-answert"></div>
                        <div class="tk-answerm">
                        	<div class="tk-selectarea clearfix">
                            	<ul>
                                    <!--{loop $an_array $an}-->
                                	<li {if $an['id'] % 5 ==0} style="margin-right:15px;"{/if} id="an_{$an['qid']}" data-id="{$an['qid']}"><a href="#{$an['id']}">{$an['id']}</a></li>
                                    <!--{/loop}-->
                                </ul>
                            </div>
                        </div>
                        <div class="tk-answerb"></div>
                        <script>
                            $(function(){
                                $('.tk-selectarea ul li a').click(function(){
                                    var a_num = $(this).html();
                                    var id = $('a[name="'+a_num+'"]').parent('.qtype-div').attr('type-id');
                                    $('li[data-id="'+id+'"]').click();
                                })
                            })

                        </script>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $.getJSON('{APP_URL}?app=system&controller=content&action=stat&jsoncallback=?&contentid={$contentid}');
</script>
<!--{template 'exam/footer'}-->