/*
 @name 黄色系列
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-yellow-d {
	overflow: hidden;
	background:url("images/yellow-d.jpg");
	height:50px;
	line-height:50px;
	font-size:24px;
	font-weight:bold;
	padding-left:12px;
}
.title-yellow-d,
.title-yellow-d span{color:#900;}
