/* 报纸列表　*/
#e_paper {
	margin-top: 5px;
	background: #fff;
	border:1px solid #ccc;
	padding-bottom: 20px;
	border-top:4px solid #eee;
}
#paper_list  li{
	float:left;
	width: 240px;
	text-align: center;
	padding-top: 20px;
}
#paper_list  li div{
	border: 1px solid #ccc;
	height: 140px;
	width: 160px;
	text-align:center;
	padding: 10px 0;
	margin: 0 auto;
}
#paper_list  li h2 {
	font-size: 16px;
	text-align: center;
}
#paper_list li img {
	
}
#nonePaper {
	padding: 20px;
}
/* 报纸内容页 */
#e_paper h1{ font-family:"宋体"; font-size:42px; color:#D40101; margin-right:10px; float:left;}
#e_paper h2{ padding:5px 10px; height:16px; font-size:12px;}
#e_paper h3{font-family:"黑体"; font-size:28px; color:#333; padding:12px 0 8px;}
#e_paper h4{ font-size:14px; color:#333; line-height:24px; height:24px;}
#e_paper .list_1 li span,#e_paper .box_4 spam{background:#fff;}
#e_paper .content{border:none; background:#fff;}
#paper_left{width:398px; float:left;}
 #paper_left .box_5{ padding:0 0;}
#paper_right{width:536px; padding: 0 8px; float:right;}
.list_1{padding:4px 8px; height:200px; overflow-y:scroll; margin-top:4px;}
 .list_1 li{padding:4px 0; font-size:12px;}
  .list_1 li span{font-style:normal; color:#666; padding-right:8px; font-size:12px;}
  .list_1 li a,.list_1 img{background:#fff;}
  .list_1 li img{float:right; padding:0 0 0 6px;}
#paper_title {padding:8px 6px 14px; border-bottom:1px solid #ccc; height:40px;}
  #paper_title li{ line-height:22px;}
 #paper_title .search_input_txt,#paper_title .search_btn{margin-top:24px;}
#paper_screenshot{border-top:1px dotted #ccc;margin:5px auto 0;}
#e_paper #endtext{ margin:0;}
#paper_screenshot .map {display:block;position: absolute;border: 3px solid #F00;background: #ff8;opacity: 0;filter: alpha(opacity=0);}
#paper_screenshot .current {opacity: .5;filter: alpha(opacity=50);}
#paper_screenshot .hilight {background: #ddd;opacity: .5;filter: alpha(opacity=50);}
#edition_select {
	width: 80px;
}
#paper_select {
	width: 100px;
	margin-bottom: 10px;
}
#eBack {
	list-style: none;
	text-align: left;
	background: #eff;
	padding: 6px;
	border: 1px solid #ccc;
	width: 190px;
	position: absolute;
	display: none;
}
#eBack li {
	float: left;
	padding: 0 3px;
}
#eBack a {
	color: #06c;
}