/*
 @name 灰色轨迹
 @notes 基本设定，reset
*/
body {
	background-color:#fff;
	background:#fff url("images/bg.jpg") repeat-x 0 0;
	font-family:宋体,Arial Narrow,arial,serif;
	font-size:12px;
	_text-align:center;
	line-height:21px;
}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, input, textarea {
	margin:0;
	padding:0;
}
address, caption, cite, code, dfn, ins, em, th, var {
	font-style:normal;
	font-weight:normal;
	font-size:12px;
}
.diy-root {
	width:960px;
	margin:0 auto;
	text-align:left;
}
.diy-widget a {
	color:#666;
	text-decoration: none;
}
.diy-widget a:hover {
	color:#f00;
	text-decoration: underline;
}
.diy-widget input,
.diy-widget textarea,
.diy-widget select,
.diy-widget button {
	vertical-align:middle;
}
.diy-widget input.input-text,
.diy-widget textarea {
	border:1px solid #cbcbcb;
}
.diy-widget input.input-radio,
.diy-widget input.input-checkbox {
	border:none;
	outline:none;
}
.diy-widget input.input-submit,
.diy-widget button,
.diy-widget input.input-button {
	cursor:pointer;
	border:none;
	background:#fff url("images/btn.gif") no-repeat;
	height:22px;
	width:60px;
}

.diy-content-menu {
	
}
.diy-content-menu a {
	color:#fff;
}
.diy-content-menu a:hover {
	color:#FFFF88;
	text-decoration:none;
}
.diy-content-menu span.sepr {
	margin:0 4px;
	color:#fff;
}
.require {
	color:red;
}