/* 
    Document   : diy
    Created on : 2010-7-13, 12:44:27
    Author     : kakalong
    Description:
        use for base special page
*/
/* base  reset */
.diy-area, .diy-frame, .diy-widget, diy-inner {
	margin: 0; padding: 0; border:none; word-wrap: break-word; zoom: 1;
}
/* clearfix */
div.diy-area:after, .diy-frame:after,
.diy-widget:after, .diy-content:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.diy-frame .diy-area {
	float:left;
	overflow:hidden;
}
.diy-area, .diy-widget {
	min-height: 5px;
}

/* start: can re-define by usr -------------------------*/

.diy-root {
	
}
/**
 * note:
 *	should not give padding, width, height
 *  and position must relative or static
 */
.diy-frame {
	/*
     background
     color
     font
     border
     margin
     ...

	 in design mode margin and border will not apply this
    */
}
.diy-widget {

}
.diy-title {
	overflow: hidden;
}
.diy-frame .diy-title {

}
.diy-widget .diy-title {

}
/* basic define */
.clear {height: 0;font-size: 0;clear: both;}
.hr-dot {border-bottom:1px dashed #ccc;height:10px;clear:both;overflow:hidden;}

/* end:can re-define by usr ---------------------------*/