 .content-survey-gray-e{background-color:#fff; font-size:12px;}
 .content-survey-gray-e .mod-survey .summary{line-height:20px;color:#333;}
 .content-survey-gray-e .mod-survey .bdr_0{ margin-right:4px;}
.content-survey-gray-e .mod-survey {
	padding:10px;
}
.content-survey-gray-e  dl {
	margin:3px 0; margin-bottom:15px;
}
.content-survey-gray-e  dt {
	color:#c00;
	line-height:18px;
	margin-bottom:6px;
}
.content-survey-gray-e  dd {
	margin-left:10px;
	line-height:20px;
	color:#333;
}
.content-survey-gray-e  label {
	cursor:pointer;
}