 .content-piclist-blue{padding-top:10px;background-color:#FFF;}
 .content-piclist-blue li {	margin:0 7px 10px;}
 .content-piclist-blue img{border:1px solid #ccc;padding:1px;}
 .content-piclist-blue a {	color:#06c;	font-size:12px;}
 .content-piclist-blue a:hover{text-decoration:none;color:#c00;}