 .content-palist-gray-d li {	padding:8px 6px;	border-bottom:1px dotted #ccc;}
 .content-palist-gray-d img {	margin:8px 8px 8px 0;}
 .content-palist-gray-d .summary {	margin:0;	padding:0;}
 .content-palist-gray-d{background-color:#fff;}
 .content-palist-gray-d .imgtxtsummary-list{margin:0 4px;}
 .content-palist-gray-d .imgtxtsummary-list a{color:#333;}
 .content-palist-gray-d .imgtxtsummary-list h3 a{ color:#333; font-size:12px;font-weight:bold;}
 .content-palist-gray-d .imgtxtsummary-list p{color:#333;}
 .content-palist-gray-d .imgtxtsummary-list a:hover{text-decoration:none;color:#da2c83;}
