.content-menu-red-d {
	line-height:21px;
	padding:0px 0px;
}
.content-menu-red-d a {
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
.content-menu-red-d a:hover {
	color:#ccc;
	text-decoration:none;
}
.content-menu-red-d span.sepr {
	margin:0 8px;
	color:#fff;
	font-size:14px;
}