.content-piclist-gray-f{padding-top:10px;background-color:#FFF;}
.content-piclist-gray-f li { margin:0 10px 10px;}
.content-piclist-gray-f a {color:#333;	font-size:12px;}
.content-piclist-gray-f a:hover{text-decoration:none;color:#c00;}