<link rel="stylesheet" type="text/css" href="{IMG_URL}js/lib/popsearch/popmenu.css" media="all" />
<script type="text/javascript" src="{IMG_URL}js/lib/popsearch/recommend.js"></script>
<div class="hr-h10"></div>
<div id="foot" class="column col-960">
		<div id="foot_link"> 
		   <a href="{WWW_URL}">关于我们</a> | <a href="{WWW_URL}">联系我们</a> | <a href="{WWW_URL}">加入我们</a> | <a href="{WWW_URL}">版权声明</a> | <a href="{WAP_URL}">手机访问</a> | <a href="{APP_URL}map.php">网站地图</a> | <a href="{APP_URL}?app=guestbook">留言反馈</a> | <a href="{APP_URL}?app=contribution">我要投稿</a>
		</div>
		<div class="column clear"></div>
		<p>客服电话：010-62961030  Email：service#cmstop.com (#→@)<br />
           Copyright @ cmstop.com All Rights Reserved.  北京思拓合众科技有限公司 版权所有<br />
		   <a href="http://www.cmstop.com" target="_blank">Powered by CmsTop Media 2010</a> 京ICP备09082107号
		</p>
{$SYSTEM[statcode]}		
</div>
</body>
</html>