<div id="top">
	<div id="mode_list" class="main">
	    <div class="search f_r">
		    <form name="search" id="search" method="GET" action="{APP_URL}{url('search/index/search')}">
			    <input type="hidden" name="app" value="search"/>
			    <input type="hidden" name="controller" value="index"/>
			    <input type="hidden" name="action" value="search"/>
				<input type="hidden" name="type" value="all"/>
		       <input type="text" name="wd" style="width:105px;" class="f_l search_input_txt"/>
		       <input type="submit" value="搜索" class="search_btn f_l"/>
		       <a href="{APP_URL}{url('rss/index/index')}"><img src="{IMG_URL}images/rss.jpg" alt="Rss 订阅" height="14" width="37"/></a>
		    </form>
	    </div>
		<?php include WWW_PATH.'include/nav_site.html';?>
	</div>
</div>