		<!-- *************************** start 顶部小条 ************************ -->
		<div class="image-top">
			<div class="column">
				<div class="header-top">
			<div class="login f-l">
				<div id="login_status" style="display:none;">
					<em></em>
					<span>，<a href="{APP_URL}{url('member/panel/index')}">会员中心</a>|<a href="{APP_URL}{url('member/index/logout')}">退出</a> <a href="{APP_URL}rss.php"><img src="{IMG_URL}images/rss.gif" class="top-rss" /></a></span>
				</div>
				<div id="logout_status" style="display:none;">
					<em></em>
					<span><a href="{APP_URL}{url('member/index/login')}">登录</a>|<a href="{APP_URL}{url('member/index/register')}">注册</a><a href="{APP_URL}rss.php"><img src="{IMG_URL}images/rss.gif" class="top-rss" /></a></span>
				</div>
			</div>
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.cookie.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	if ($.cookie(COOKIE_PRE+'auth')) {
		$('#login_status').show();
		var username = $.cookie(COOKIE_PRE+'username');
		if(!username) username = $.cookie(COOKIE_PRE+'rememberusername');
		$('#login_status em').html(username);
	} else {
		$('#logout_status').show();
	}
});
</script>
			<div class="f-r sear-top">
				 <form name="search" id="search" method="GET" action="{APP_URL}{url('search/index/search')}">
			    <input type="hidden" name="app" value="search"/>
			    <input type="hidden" name="controller" value="index"/>
			    <input type="hidden" name="action" value="search"/>
				<input type="hidden" name="type" value="all"/>
			   	<p class="mode-sear"><input type="input" onfocus="this.value=(this.value=='全文检索')?'':this.value" onblur="this.value=(this.value=='')?'全文检索':this.value" name="wd" value="全文检索" class="sear-box" /> <input type="submit" value="检索" class="sear-btn f-r" title="去搜索" /> </p>
		    </form>
			</div>
			</div>
			</div>
		</div>
		<!-- *************************** end 顶部小条 ************************ -->
		<!-- *************************** start LOGO + 导航 ************************ -->
		<div class="column logo-menu">
			<div class="hr-h10"></div>
			<div class="logo-box f-l">
				<h1><a href="{WWW_URL}" title="回首页">CmsTop</a></h1>
				<p>顶级新媒体技术提供商</p>
			</div>
			<div class="ad-area-3 f-r">
				<span><!--#include virtual="/section/27.html"--><!--频道页顶部banner1--></span>
				<span><!--#include virtual="/section/28.html"--><!--频道页顶部banner2--></span>
			</div>