			<a href="{WWW_URL}">首页</a>
			<a href="http://news.cmstop.loc/">新闻</a>
			<a href="http://photo.cmstop.loc/">图片</a>
			<a href="http://video.cmstop.loc/">视频</a>
			<a href="http://talk.cmstop.loc/">访谈</a>
			<a href="http://special.cmstop.loc/">专题</a>
			<a href="http://space.cmstop.loc/">专栏</a>
			<a href="{WWW_URL}paper/">报纸</a>
			<a href="{WWW_URL}magazine/">杂志</a>
			<a href="{APP_URL}roll.php">滚动</a>
			<a href="{APP_URL}rank.php">排行</a>
			<a href="{APP_URL}tags.php">标签</a>
			<a href="{APP_URL}digg.php">Digg</a>
			<a href="{APP_URL}mood.php">心情</a>
			<a href="{APP_URL}?app=space&controller=panel&action=contribute" target="_self">投稿</a>
			<a href="{APP_URL}?app=rss" target="_self">RSS</a>
