.content-comment-blue .mod-comment {
	padding:10px;
	font-size:12px;
	background:#fff;
}
.content-comment-blue dl {

}
.content-comment-blue .user-info {
	color:#06c;
}
.content-comment-blue .post-time {
	color:#999;
	float:right;
}
.content-comment-blue  dd {
	border-bottom:1px dotted #ccc;
	padding:6px 0 10px;
}
.content-comment-blue .view-comment {
	padding:8px 0;
	text-align:right;
}
.content-comment-blue textarea {
	width:100%;
	overflow:auto;
	height:120px;
	font-size:14px;
}
.content-comment-blue .user-writeinfo {
	margin:5px 0;
}
.content-comment-blue input.input-submit {
	background:#fff url("images/submit.gif") no-repeat 0 0;
	color:#fff;
	height:23px;
	width:72px;
}

.citation{padding: 4px 4px 0 4px; line-height: 24px; margin-bottom: 4px;  border: 1px solid #ffe1a4;  color: #444;}
.citation-title,.citation-title a{ color: #0066CC; font-size: 12px;}
.mode-comment dd .citation p{ padding: 8px 0; font-size: 12px; }
.citation-number{ margin-right: 4px; font-size: 10px; color: #999; font-family: Arial; }

.diy-widget a:hover {color:#000;text-decoration:none}