/*
 @name 灰色轨迹
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-newYear-a {
	overflow: hidden;
	background:url("images/newyar.png") no-repeat;
	height:26px;
	line-height:26px;
	font-size:14px;
	font-weight:bold;
	padding-left:12px;
}
.title-newYear-a a,
.title-newYear-a span{color:#FFF;}
