<!--{if $style == 'button'}-->
<div class="share-button" style="position:relative;">
	<img class="share-button-image" src="{$imgpath}" style="border:none;cursor: pointer;" alt="分享到"/>
	<div class="share-div share-button-div" style="display:none;z-index:99;position:absolute;left:0;top:22px;">
		<div class="share-head">分享到...</div>
		<div class="share-body">
			<a onclick="share.sendto('copy');" href="javascript:void(0);"><span class="icon icon_copy">复制网址</span></a>
			<a onclick="share.sendto('fav');return false;" href="#"><span class="icon icon_fav">收藏夹</span></a>
			<a onclick="share.sendto('tsina');return false;" href="#"><span class="icon icon_tsina">新浪微博</span></a>
			<a onclick="share.sendto('qzone');return false;" href="#"><span class="icon icon_qzone">QQ空间</span></a>
			<a onclick="share.sendto('msn');return false;" href="#"><span class="icon icon_msn">MSN</span></a>
			<a onclick="share.sendto('renren');return false;" href="#"><span class="icon icon_renren">人人网</span></a>
			<a onclick="share.sendto('kaixin001');return false;" href="#"><span class="icon icon_kaixin001">开心网</span></a>
			<a onclick="share.sendto('baidu');return false;" href="#"><span class="icon icon_baidu">百度搜藏</span></a>
			<a onclick="share.sendto('buzz');return false;" href="#"><span class="icon icon_buzz">谷歌Buzz</span></a>
			<a onclick="share.sendto('sohu');return false;" href="#"><span class="icon icon_sohu">搜狐白社会</span></a>
			<a onclick="share.sendto('m139');return false;" href="#"><span class="icon icon_139">139说客</span></a>
			<a onclick="share.sendto('taobao');return false;" href="#"><span class="icon icon_taobao">淘江湖</span></a>
			<a onclick="share.sendto('tsohu');return false;" href="#"><span class="icon icon_tsohu">搜狐微博</span></a>
			<a onclick="share.sendto('douban');return false;" href="#"><span class="icon icon_douban">豆瓣</span></a>
			<div style="clear: both;"></div>
		</div>
		<div class="share-foot"><a href="http://www.cmstop.com/">CmsTop</a></div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('.share-button').hover(function(){
		$(this).find('.share-button-div').show();
	},function(){
		$(this).find('.share-button-div').hide();
	});
}); 
</script>

<!--{elseif $style == 'float'}-->
<div class="share-right">
	<a class="share-image"><img style="cursor: pointer;" src="{$imgpath}"/></a>
	<div class="share-div" style="float:right;border-right:none;">
		<div class="share-head">分享到...</div>
		<div class="share-body">
			<a onclick="share.sendto('copy');" href="javascript:void(0);"><span class="icon icon_copy">复制网址</span></a>
			<a onclick="share.sendto('fav');return false;" href="#"><span class="icon icon_fav">收藏夹</span></a>
			<a onclick="share.sendto('tsina');return false;" href="#"><span class="icon icon_tsina">新浪微博</span></a>
			<a onclick="share.sendto('qzone');return false;" href="#"><span class="icon icon_qzone">QQ空间</span></a>
			<a onclick="share.sendto('msn');return false;" href="#"><span class="icon icon_msn">MSN</span></a>
			<a onclick="share.sendto('renren');return false;" href="#"><span class="icon icon_renren">人人网</span></a>
			<a onclick="share.sendto('kaixin001');return false;" href="#"><span class="icon icon_kaixin001">开心网</span></a>
			<a onclick="share.sendto('baidu');return false;" href="#"><span class="icon icon_baidu">百度搜藏</span></a>
			<a onclick="share.sendto('buzz');return false;" href="#"><span class="icon icon_buzz">谷歌Buzz</span></a>
			<a onclick="share.sendto('sohu');return false;" href="#"><span class="icon icon_sohu">搜狐白社会</span></a>
			<a onclick="share.sendto('m139');return false;" href="#"><span class="icon icon_139">139说客</span></a>
			<a onclick="share.sendto('taobao');return false;" href="#"><span class="icon icon_taobao">淘江湖</span></a>
			<a onclick="share.sendto('tsohu');return false;" href="#"><span class="icon icon_tsohu">搜狐微博</span></a>
			<a onclick="share.sendto('douban');return false;" href="#"><span class="icon icon_douban">豆瓣</span></a>
			<div style="clear: both;"></div>
		</div>
		<div class="share-foot"><a href="http://www.cmstop.com/">CmsTop</a></div>
	</div>
	<div style="clear: both;"></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('.share-right').hover(function(){
		$(this).stop().animate({right: '0'}, "slow");
	},function(){
		$(this).stop().animate({right: '-241px'}, "slow");
	});
}); 
</script>
<!--{/if}-->