 .content-piclist-gray-d{padding-top:10px;background-color:#FFF;}
 .content-piclist-gray-d li {	margin:0 7px 10px;}
 .content-piclist-gray-d img{border:1px solid #ccc;padding:1px;}
 .content-piclist-gray-d a {	color:#333;	font-size:12px;}
 .content-piclist-gray-d a:hover{text-decoration:none;color:#9416cf;}
