 .content-palist-gray-c li {	padding:8px 6px;	border-bottom:1px dotted #ccc;}
 .content-palist-gray-c img {	margin:8px 8px 8px 0;}
 .content-palist-gray-c .summary {	margin:0;	padding:0;}
 .content-palist-gray-c{background-color:#fff;}
 .content-palist-gray-c .imgtxtsummary-list{margin:0 4px;}
 .content-palist-gray-c .imgtxtsummary-list a{color:#333;}
 .content-palist-gray-c .imgtxtsummary-list h3 a{ color:#333; font-size:12px;font-weight:bold;}
 .content-palist-gray-c .imgtxtsummary-list p{color:#333;}
 .content-palist-gray-c .imgtxtsummary-list a:hover{text-decoration:none;color:#9416cf;}
