.content-menu-green-a {
	background:url("images/bg.jpg") repeat-x;
	padding:0px 10px;
}
.content-menu-green-a a {
	color:#006800;
	font-size:12px;
}
.content-menu-green-a a:hover {
	color:#CC0000;
	text-decoration:none;
}
.content-menu-green-a span.sepr {
	margin:0 4px;
	color:#006800;
	font-size:12px;
}