/*
 @name 粉色系列
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-red-a {
	overflow: hidden;
	background:url("images/red-a.jpg") repeat-x;
	height:50px;
	line-height:50px;
	font-size:24px;
	font-weight:bold;
	padding-left:12px;
}
.title-red-a a,
.title-red-a span{color:#ffae00;font-weight:bold;font-size:24px;}
