body {
	overflow:hidden;
	background: #FFF;
}
#sectionPanel {
	width:170px;
	border-top:1px solid #9AC4DC;
	border-right:1px solid #9AC4DC;
}
#sectionPanel h3 {
	background:#FFFFFF url(../images/bg_x.gif) repeat-x 0 -172px;
	border:0;
	height:24px;
	line-height:24px;
	padding:0 5px;
	color:#077AC7;
}
#viewBox {
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}
#sectionBox {
	overflow-y:auto;
	overflow-x:hidden;
	padding:0 3px;
}
#sectionList li {
	border:1px solid #fff;
	background-color:#fff;
	height:24px;
	line-height:24px;
	overflow:hidden;
	padding:0 0 0 16px;
	margin-bottom:1px;
	cursor:pointer;
}
#sectionList li.hover,#sectionList li.contextMenuActive {
	color:#0099CC;
	border-color:#ddd;
	background-color:#EFEFEF;
}
#sectionList li a {
	/*color:#333333;*/
	outline:none;
	text-decoration:none;
	font-size:12px;
}
#sectionList li div {
	margin-top:4px;
	margin-right:2px;
	height:16px;
	width:22px;
	background:url(../images/popset.gif) no-repeat 0 0;
	float:right;
	display:none;
}
#sectionList li.hover div{
	display:inline;
}
#sectionList li.contextMenuActive div {
	display:inline;
	background-position:0 -16px;
}
#sectionList li div:hover {
	background-position:0 -16px;
}
#sectionList li a.locked {
	color:#DF0000;
}
#sectionList li.active {
	border-color:#9AC4DC;
	font-weight:bold;
	background-color:#F2F9FB;
}
