.content-title-blue ul {padding:2px; font-size:12px; color:#666666;}
.content-title-blue li {
	line-height:18px;
}
.content-title-blue a {
	color:#06c;
}
.content-title-blue a:hover {
	color:#c00;
	text-decoration:none;
}
.content-title-blue li.item-1 {
	padding:5px 2px;
	float:none;
}
.content-title-blue li.item-1 a {
	font-family: Microsoft YaHei;
	font-size:16px;
	font-weight:bold;
	color:#06c;
	text-decoration:none;
	line-height:20px;
}
.content-title-blue li.item-1 a:hover {
	color:#c00;
}