<div class="mod-activity">
<p class="summary">{$content}</p>
<p class="require">注：*为必填项</p>
<form  action="{APP_URL}?app=activity&controller=sign&action=add" id="signform_{$contentid}" name="signform_{$contentid}" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="contentid" value="{$contentid}"/>
	<table cellpadding="0" cellspacing="10" border="0">
	{if $fields[name][have]}
		<tr>
			<th>{if $fields[name][need]}<em>*</em>{/if} <label>姓名：</label></th>
			<td><span><input type="text" name="name" class="input-text"/></span></td>
		</tr>
	{/if}
	{if $fields[sex][have]}
		<tr>
			<th>{if $fields[sex][need]}<em>*</em>{/if} <label>性别：</label></th>
			<td><input name="sex" type="radio" value="1"  checked="checked" class="input-radio"/> <label>男</label> <input name="sex" type="radio" value="0" class="input-radio"/> <label>女</label></td>
		</tr>
	{/if}
	{if $fields[photo][have]}
		<tr>
			<th>{if $fields[photo][need]}<em>*</em>{/if} <label>照片：</label></th>
			<td><input type="file" name="photo" class="input-file"/></td>
		</tr>
	{/if} 
	{if $fields[email][have]}
		<tr>
			<th>{if $fields[email][need]}<em>*</em>{/if} <label>邮箱：</label></th>
			<td><input type="text" name="email" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[address][have]}     
		<tr>
			<th>{if $fields[address][need]}<em>*</em>{/if} <label>地址：</label></th>
			<td><input type="text" name="address" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[telephone][have]}    
		<tr>
			<th>{if $fields[telephone][need]}<em>*</em>{/if} <label>电话：</label></th>
			<td><input type="text" name="telephone" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[mobile][have]}    
		<tr>
			<th>{if $fields[mobile][need]}<em>*</em>{/if} <label>手机：</label></th>
			<td><input type="text" name="mobile" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[zipcode][have]}    
		<tr>
			<th>{if $fields[zipcode][need]}<em>*</em>{/if} 邮编：</th>
			<td><input type="text" name="zipcode" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[qq][have]} 
		<tr>
			<th>{if $fields[qq][need]}<em>*</em>{/if} QQ：</th>
			<td><input type="text" name="qq" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[msn][have]} 
		<tr>
			<th>{if $fields[msn][need]}<em>*</em>{/if} MSN：</th>
			<td><input type="text" name="msn" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[site][have]} 
		<tr>
			<th>{if $fields[site][need]}<em>*</em>{/if} 网址：</th>
			<td><input type="text" name="site" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[job][have]} 
		<tr>
			<th>{if $fields[job][need]}<em>*</em>{/if} 职业：</th>
			<td><input type="text" name="job" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[identity][have]} 
		<tr>
			<th>{if $fields[identity][need]}<em>*</em>{/if} 身份证：</th>
			<td><input type="text" name="identity" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[company][have]} 
		<tr>
			<th>{if $fields[identity][need]}<em>*</em>{/if} 公司：</th>
			<td><input type="text" name="company" class="input-text"/></td>
		</tr>
	{/if}
	{if $fields[aid][have]} 
		<tr>
			<th>{if $fields[aid][need]}<em>*</em>{/if} 附件：</th>
			<td><input type="file" name="aid" class="input-file"/></td>
		</tr>
	{/if}
	{if $fields[note][have]} 
		<tr>
			<th>{if $fields[note][need]}<em>*</em>{/if} 附言：</th>
			<td><textarea name="note" cols="60" rows="4" class="w_300"></textarea></td>
		</tr>
	{/if}
		<tr>
			<th><em>*</em> 验证码：</th>
			<td><input name="seccode" type="text" size="4" class="input-text"/> <img src="{APP_URL}?app=system&controller=seccode&action=image" onclick="this.src='{APP_URL}?app=system&controller=seccode&action=image&id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
		</tr>
		<tr>
			<th></th>
			<td><span><input type="submit" name="submit" value="提 交" class="input-submit" /></span></td>
		</tr>
	</table>
</form>
</div>