/*
 @name 粉色系列
 @notes 每条规则 以 .title-{风格包文件夹名} 开头
*/
.title-wash-a {
	overflow: hidden;
	background:url("images/wash-a.jpg") repeat-x;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	padding-left:6px;
}
.title-wash-a a,
.title-wash-a span{color:#333;font-weight:bold;font-size:14px;}
