<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$CONFIG[charset]}" />
<title>{$SETTING['bookname']}</title>
<script type="text/javascript" src="{IMG_URL}js/config.js"></script>
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.js"></script>
<script type="text/javascript" src="{IMG_URL}apps/book/js/book.js"></script>
<link href="{IMG_URL}apps/book/css/book.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
</head>
<body>
 
<div id="header">
            <h1>{$SETTING['bookname']}</h1>
            <p>关于cmstop，你想说些什么？</p>
</div>
<div id="main">
            <div id="m_right">
                        <h2>留言须知</h2>
                        <p>一、不得发表违反中华人民共和国宪法和法律、违反改革开放和四项基本原则的言论。<br/>
                                   二、不得发表造谣、诽谤他人的言论。<br/>
                                   三、不得发表未经证实的消息，亲身经历请注明。<br/>
                                   四、请勿发表任何形式的广告。<br/>
                                   五、请勿发表与国家工商行政管理总局工作无关的言论。<br/>
                                   六、请留真实联系方式以便核对，联系方式不实者，留言将予以删除。<br/>
                                   七、本栏目非论坛性质，只用于国家工商行政管理总局机关和公众之间的交流，不用于公众之间的交流。<br/>
                        </p>
            </div>
            <div id="m_left">
                        <div id="add">
                                   <form name="book_add" id="book_add">
                                               <label for="username">留言者：</label><br/>
                                               <input type="text" name="username" id="username" size="20" class="inputnew" /><br/>
                                               <label for="email">Email：</label><br/>
                                               <input type="text" name="email" id="email" size="50" class="inputnew" /><br/>
                                               <label for="content">留言内容：</label><br/>
                                               <textarea name="content" id="content" rows="5" cols="73" class="textarea" /></textarea><br/>
                                               <span style="float:right;"><input type="submit" id="submit" class="button" value="提 交" /></span>
                                               <span><!--{if $SETTING['iscode'] }-->
                                               <label for="seccode">验证码：</label>
                                               <input name="seccode" id="seccode" size="4" type="text" value="" maxlength="4" class="inputnew"  /> 
                                               <img src="{url('system/seccode/image')}" id="seccodeimg" onclick="this.src='{url('system/seccode/image')}&id='+Math.random()*5;" style="cursor:pointer;" width="48" height="20"  align="absmiddle" class="img_mar"/>
                                               <a  href="javascript:;" onclick="$('#seccodeimg').click()" class="ch-yzm">换一张</a>
                                               <span class="warn" style="display:none;"></span>
                                               </li>
                                               <!--{else}-->
                                               如果你有任何问题，请联系CmsTop！
                                               <!--{/if}--></span>
                                   </form>
                        </div>
                        <div id="list"></div>
                        <div id="more" class="more">正在加载更多内容...</div>
            </div>
</div>
<div id="footer">&copy; CmsTop 2011</div>
 
<script language="JavaScript">
$(init);
</script>
 
</body>
</html>