.content-vote-black-a{background-color:#1c1c1c; font-size:12px; color:#999;}
.content-vote-black-a .mod-vote {
	padding:10px;
	padding:10px;
	overflow:hidden;
	zoom:1;
}
.content-vote-black-a  dl {
	margin:3px 0;
}
.content-vote-black-a  dt {
	color:#ffb400;
	line-height:20px;
}
.content-vote-black-a  dd {
	margin-left:10px;
	line-height:20px;
}
.content-vote-black-a .input-radio{margin-right:4px;}
.content-vote-black-a  label {
	cursor:pointer;
}
 
 .content-vote-shuimo .content-vote-shuimo {margin-top:10px;margin-bottom:10px;float:left;}
 .content-vote-black-a  a.result{margin-left:10px; color:#ffb400; text-decoration:none;}
 .dd-submit {margin-top:10px;}