.content-slider-blue-a {background:#ccc;}
.content-slider-blue-a .slider-nav a,
.content-slider-blue-a .slider-nav a:hover {
	color:#333;
	text-decoration: none;
	font-size:12px;
}

.content-slider-blue-a .slider-nav a.active{
	color:#fff;
	background:#333333;
}
.content-slider-blue-a a.title{color:#06c; font-weight:normal;}
.content-slider-blue-a a:hover.title{color:#c00;}