<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$CONFIG[charset]}" />
<title>{$name}_{$SYSTEM[sitename]}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<meta name="author" content="{$SYSTEM[sitename]}" />
<meta name="Copyright" content="{$SYSTEM[sitename]}版权所有" />
<link href="{IMG_URL}templates/{TEMPLATE}/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{IMG_URL}templates/{TEMPLATE}/css/others.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<script type="text/javascript" src="{IMG_URL}js/lib/jquery.js"></script>
</head>

<body class="index-theme">
<!--{template 'system/header_channel.html'}-->
	<div class="hr-h10"></div>			
	<div class="menu-cir nosubmenu">
		<div class="menu-cir-main">
			<div class="mode-menu">
					<ul id="common-menu">
				<li><a href="{WWW_URL}" target="_self">首页</a></li>
				<li id="nav-cur"><a href="http://news.cmstop.loc/" target="_self">新闻</a></li>
				<li><a href="http://photo.cmstop.loc/" target="_self">图片</a></li>
				<li><a href="http://video.cmstop.loc/" target="_self">视频</a></li>
				<li><a href="http://talk.cmstop.loc/" target="_self">访谈</a></li>
				<li><a href="http://special.cmstop.loc/" target="_self">专题</a></li>
				<li><a href="http://space.cmstop.loc/" target="_self">专栏</a></li>
				<li><a href="{WWW_URL}paper/" target="_self">报纸</a></li>
				<li><a href="{WWW_URL}magazine/" target="_self">杂志</a></li>
				<li><a href="{APP_URL}roll.php" target="_self">滚动</a></li>
				<li><a href="{APP_URL}rank.php" target="_self">排行</a></li>
				<li><a href="{APP_URL}tags.php" target="_self">标签</a></li>
				<li><a href="{APP_URL}digg.php" target="_self">Digg</a></li>
				<li><a href="{APP_URL}mood.php" target="_self">心情</a></li>
				</ul>
			</div>
			
		</div>
		<div class="menu-cir-l"></div>
		<div class="menu-cir-r"></div>
	</div>
</div>

<div class="hr-h10"></div>
<!-- *******************  start box   *********************** -->
<div class="column" style="height: 22px; overflow: hidden; zoom: 1;">
	<div class="mode-position f-l">
		<span>
			<a href="{WWW_URL}">首页</a>
		</span>
	  <!--{loop $pos $cat}-->
	  <a href="{$cat[url]}">{$cat[name]}</a>
	  <!--{/loop}-->
	</div>
	<div class="f-r">

	</div>
</div>
<!-- *******************  end box   *********************** -->
<div class="hr-h6"></div>
<!-- *******************  start box   *********************** -->
<div class="column">
	<div class="col-l-main w-720">
        <!-- *******************  start 栏目列表   *********************** -->
		<div class="mode-col-2">
		<ul>
		    <!--{loop subcategory($catid) $id $cat}-->
			<li class="w-318 bor-9fc largepart">
				<div class="mode-head">
					<h2 class="cor-c00">{$cat[name]}</h2>
                    <div class="mode-rss"><a href="{APP_URL}rss.php?catid={$cat[catid]}"><img src="{IMG_URL}templates/{TEMPLATE}/images/rss.gif" alt=""  width="40" height="17"/></a></div>
					<a href="{$cat[url]}" class="more-e">更多</a>
				</div>
				<div class="mode-txtlink fs-14 cor-06c">
					<ul class="mar-b-8">
					    <!--{content catid="$cat[catid]" status="6" orderby="published DESC" size="10"}-->
						<li><a href="{$r[url]}" target="_blank" style="color:{$r[color]}">{str_cut($r[title], 44, '')}</a></li>
						<!--{/content}-->
					</ul>
				</div>
			</li>
           <!--{/loop}-->
		</ul>
	</div> 
        <!-- *******************  end 栏目列表   *********************** -->  	
	</div>
	<!-- *******************  start 右侧   *********************** -->
	<div class="col-r-extra w-230">
				<div class="bor-9fc">
				<div class="mode-head">
				<h2 class="cor-c00">推荐阅读</h2>
				</div>
				<div class="mode-txtlink line-h22 cor-4545">
				<ul>
					<!--{content catid="$catid" weight="80," orderby="published desc" size="10"}-->
					<li><a href="{$r[url]}" target="_blank" style="color:{$r[color]}">{$r[title]}</a></li>
					<!--{/content}-->
				</ul>
				</div>
				</div>
				<div class="hr-h6"></div>
				<div class="bor-9fc">
					<div class="mode-tabs padd-r-0">
						<h2 class="cor-c00">排行榜</h2>
						<ul id="tab-title-1" class="fs-12 f-r">
							<li><a href="{APP_URL}rank.php" class="tabs-focus">点击</a></li>
							<li><a href="{APP_URL}rank.php">评论</a></li>
							<li><a href="{APP_URL}digg.php">Digg</a></li>
						</ul>
					</div>
					<div id="tab-cont-1" class="padd-tb-8">
						<div class="mode-rank">
						<ol>
							<!--{content catid="$catid" published="7" orderby="pv desc" size="10"}-->
							<li><em<!--{if $i<=3}--> class="front"<!--{/if}-->>{$i}</em><a href="{$r[url]}" target="_blank" style="color:{$r[color]}">{str_cut($r[title], 28)}</a></li>
							<!--{/content}-->
						</ol>
						</div>
						<div style="display: none;" class="mode-rank">
						<ol>
							<!--{content catid="$catid" published="7" orderby="comments desc" size="10"}-->
							<li><em<!--{if $i<=3}--> class="front"<!--{/if}-->>{$i}</em><a href="{$r[url]}" target="_blank" style="color:{$r[color]}">{str_cut($r[title], 28)}</a></li>
							<!--{/content}-->
						</ol>
						</div>
						<div style="display: none;" class="mode-rank">
						<ol>
							<!--{db sql="SELECT * FROM `#table_content` AS c, `#table_digg` AS d WHERE c.contentid=d.contentid AND c.published>=UNIX_TIMESTAMP()-7*24*3600 AND c.status=6 ORDER BY d.supports DESC" size="10"}-->
							<li><em<!--{if $i<=3}--> class="front"<!--{/if}-->>{$i}</em><a href="{$r[url]}" target="_blank" style="color:{$r[color]}">{str_cut($r[title], 28)}</a></li>
							<!--{/db}-->
						</ol>
						</div>
					</div>
				</div>
			</div>
	<!-- *******************  end 右侧   *********************** -->
</div>
<!-- *******************  end box   *********************** -->

<!--{template 'system/footer.html'}-->
<script type="text/javascript" src="{IMG_URL}templates/{TEMPLATE}/js/tabs.js"></script>	
</body>
</html>