.content-menu-red-c {
	line-height:21px;
	padding:0px 0px;
}
.content-menu-red-c a {
	color:#fff;
	font-size:12px;
}
.content-menu-red-c a:hover {
	color:#ccc;
	text-decoration:none;
}
.content-menu-red-c span.sepr {
	margin:0 2px;
	color:#fff;
	font-size:12px;
}